[2016-08-24 00:18] daviwil opened #278 "Add correct dependency to get OS/process info in CoreCLR"
To use the new `System.Runtime.InteropServices.RuntimeInformation` class to gather OS and process information for our initial logging in EditorServicesHost I'll need to pull in the expected dependency package since PowerShell doesn't seem to ship with it.  This work won't be possible until we start the conversion over to the dotnet-cli tools.

[2016-08-24 23:22] daviwil commented on #211
I wonder if this issue is gone now?

[2016-08-24 23:24] daviwil commented on #208
Briefly looked into this, looks like VS Code is giving a bogus completion because we aren't returning any completion results at this point...  Not sure how to disable that.

[2016-08-24 23:34] rkeithhill commented on #211
I can't repro it on my work machine with 0.7.1 installed.  I'm going to close this.  If I see it again, I'll open a new issue.

[2016-08-24 23:34] #211 closed

[2016-08-24 23:43] rkeithhill commented on #208
Ah, so VSCode is falling back to "dumb" auto-completion mode.  It would be nice if there were a way to tell VSCode not to do that when the language service has told it there aren't any valid completions based on what the user is trying to complete.  Oh well, that's probably not going to happen.  Go ahead and close this.

[2016-08-26 09:12] 4c74356b41 opened #279 "Intellisense doesn't always work for powershell"
Sometimes in VScode powershell code doesn't have intellisense at all. Sometimes for some commands, sometimes for all commands.

![_](https://cloud.githubusercontent.com/assets/16194643/18000379/622396c8-6b86-11e6-9203-11df401c1573.png)

[2016-08-26 15:12] rkeithhill commented on #279
Try switching the file type from 'Plain Text' to 'PowerShell' by clicking on 'Plain Text' in the status bar. Or you can save the file with a .ps1 extension.

Keep in mind that VSCode is an editor for many different languages, not just PowerShell.

[2016-08-26 16:13] 4c74356b41 commented on #279
Well, it seems to work this way, but it takes intellisense like 10 seconds to kick in, is this expected? I have core i5 4200, 8gb ram, 256gb ssd...

[2016-08-26 16:27] rkeithhill commented on #279
The issue with performance has been submitted and is being tracked here: https://github.com/PowerShell/vscode-powershell/issues/166

Looking through VSCode settings, I don't see a setting for this.  It's a good idea though.  You might want to submit that to http://github.com/microsoft/vscode/issues.

[2016-08-26 18:34] daviwil commented on #279
@4c74356b41 it could just be taking a little bit of time for the language service to get started up.  I need to add some "Loading" text in the status bar to make sure users are aware that the language service hasn't fully loaded yet.

[2016-08-26 18:56] 4c74356b41 commented on #279
well, it doesn't matter how long since vscode started. everytime you type a new commandlet (i mean, not the one not used before but any new commandlet) it won't show intellisense for like 5-10 seconds...

[2016-08-26 19:09] daviwil commented on #279
Understood.  Do you mind sending some logs so I can take a look?  Zip up this folder and drop the zip file into the issue comment box:

`$HOME\.vscode\extensions\ms-vscode.PowerShell-0.7.1\logs`

[2016-08-26 19:13] 4c74356b41 commented on #279
ehm, sorry, but there's nothing in vscode directory... where should I look?

[2016-08-26 19:18] daviwil commented on #279
There must be if you're using the extension :)  The line I gave you was meant to be run in PowerShell, you can try checking this path directly:

`c:\Users\<your username>\.vscode\extensions\ms-vscode.PowerShell-0.7.1\logs`

Let me know if that doesn't work for you

[2016-08-26 19:21] 4c74356b41 commented on #279
oh, sorry, i was looking in the application directory.
[logs.zip](https://github.com/PowerShell/PowerShellEditorServices/files/439968/logs.zip)

[2016-08-26 19:22] 4c74356b41 commented on #279
btw, I have another PC at my work, and I observe the same behaviour.

[2016-08-26 19:23] 4c74356b41 commented on #279
sorry to derail, is there an ability to launch\test\debug powershell in vscode? if so kindly point me to an article or something?

[2016-08-26 20:02] rkeithhill commented on #279
@4c74356b41 Check out the [Debugging with Visual Studio Code section](https://github.com/PowerShell/PowerShell/blob/master/docs/learning-powershell/using-vscode.md)

[2016-08-26 21:37] daviwil opened #280 "Cache help information pulled from Get-Help to speed up future requests"
We need a way to cache the help information that we pull from Get-Help so that we don't end up with so many costly calls during IntelliSense.

Spawned by this issue: https://github.com/PowerShell/vscode-powershell/issues/166

[2016-08-27 00:01] daviwil opened #281 "Migrate project to .NET CLI"
Since we officially support multiple platforms now, it's time to get the project moved over to .NET CLI.  This should hopefully make the project easier to clone, build, and contribute to across our platforms.

**Goals**
- Single build script that works across all platforms and on CI systems (AppVeyor, Travis CI)
- Do all project work in VS Code (develop, build, test)
- Potentially get a good debug

[2016-08-30 02:55] rkeithhill commented on #275
OK, I think I got this.  Added some unit tests and getting close to submitting a PR:

![setvariabledemo](https://cloud.githubusercontent.com/assets/5177512/18074571/ccc40ee4-6e2a-11e6-8e16-17eebc90dacb.gif)

[2016-08-30 14:36] daviwil commented on #275
Really cool that you can actually evaluate an expression there to change the value!

[2016-08-30 15:07] rkeithhill commented on #275
I use Visual Studio as sort of a "gold standard" and was somewhat surprised that VS will evaluate expressions when setting a variable value in the Auto/Locals window.

[2016-08-31 18:35] 4c74356b41 commented on #279
thanks.

<#
this is not recognized in vscode
in a sense that you can't collapse this.
#>

[2016-08-31 19:04] daviwil commented on #279
Yeah, this is a limitation in VS Code currently.  All code folding is done based on indentation and without any awareness of language constructs.  If you indent the lines within the comment block it will be collapsible.  I'm pushing them to start making progress on this soon.

[2016-08-31 19:20] 4c74356b41 commented on #279
ic, any info on my logs?

[2016-09-01 17:24] daviwil commented on #279
Hey @4c74356b41, looks like no verbose logs are being written out.  Can you add this setting in VS Code, reproduce the issue again, and send the new logs?

`"powershell.developer.editorServicesLogLevel": "Verbose"`

Thanks!

[2016-09-01 22:43] daviwil commented on #275
I think we can close this now, right Keith!

[2016-09-01 22:46] daviwil opened #284 "PowerShellContext.AbortException crashes when called more than once"
The DebugAdapter ends up calling `PowerShellContext.AbortException` more than once in a couple of cases:

- Debugger finishes execution normally
- Debugger ends execution due to an error, like when parsing the script file to be executed

This has manifested in a couple of issues that were reported for the PowerShell extension for VS Code:

https://github.com/PowerShell/vscode-powershell/issues/243

[2016-09-01 23:15] rkeithhill commented on #275
Yes we can.

[2016-09-01 23:15] #275 closed

[2016-09-01 23:23] daviwil opened #285 "PSScriptAnalyzer settings are not being passed to Invoke-ScriptAnalyzer"
During the new PSScriptAnalyzer-as-a-module refactoring we forgot to wire up the PSES setting to configure PSScriptAnalyzer's settings file.  As a result, the user-specified settings file is not being applied to Script Analyzer runs against their code.

[2016-09-02 18:43] daviwil opened #287 "Language service crashes when invalid path chars are used in dot-sourced script reference"
The language service will crash when invalid path characters are used in dot-sourced script references and then the user takes some action that causes those referenced paths to be resolved.

Originally reported by @Glober777 in issue https://github.com/PowerShell/vscode-powershell/issues/274.

[2016-09-02 22:12] daviwil opened #288 "Set up Travis CI integration for Linux and OS X builds"
Documentation: https://docs.travis-ci.com/user/getting-started/

[2016-09-02 22:15] daviwil commented on #213
@kapilmb did this work and it got shipped with 0.7.0!  Closing this issue.

[2016-09-02 22:15] #213 closed

[2016-09-02 22:19] #284 closed

[2016-09-02 22:19] #285 closed

[2016-09-02 22:19] #287 closed

[2016-09-02 23:57] daviwil opened #289 "Finish PS Gallery bootstrapping behavior in Start-EditorServices.ps1"
The Start-EditorServices.ps1 script is meant to have behavior to check whether the PSES module is installed on the user's machine and provide feedback to the editor so that they can prompt the user to accept its installation.  The installation step should also be provided by the bootstrapper script.

This work needs to be finished to enable extensions for Sublime Text and other editors to invoke t

[2016-09-07 14:27] daviwil opened #290 "Add $psEditor API for adding context menu commands"
It seems that VS Code is adding new extension points to add context menu commands:

https://github.com/alexandrudima/vscode-copy-relative-path/blob/master/package.json#L24

It would be cool to allow `$psEditor` extensions to add new commands there as well.

[2016-09-08 15:01] daviwil commented on #242
Apparently this got lost in the noise of what was happening over the last few months ;)  I'm gonna put out an 0.7.3 release in the next few days, I'll include this change with that.

[2016-09-08 22:48] daviwil opened #291 "Dot-sourced reference detection does not account for script blocks"
In PowerShell, it is valid syntax to dot-source a ScriptBlock.  Our FindDotSourcedVisitor class does not account for this possibility and treats a dot-sourced ScriptBlock as a referenced script path.  This currently does not cause a problem or crash but the behavior should still be fixed.

This issue was originally reported by @itzik-h on the vscode-powershell repo:

https://github.com/PowerShell/

[2016-09-10 01:29] gerane commented on #242
I just thought about this today and was going to ask you about it lol.

On Thu, Sep 8, 2016, 10:01 AM David Wilson <notifications@github.com> wrote:

[2016-09-12 22:47] daviwil commented on #291
Now tracking this issue on the VS Code side over at PowerShell/vscode-powershell#171.

[2016-09-16 14:25] daviwil commented on #14
@kapilmb, any chance you might be able to help with this one for 0.8.0 release (early October)?

[2016-09-29 17:47] daviwil opened #292 "Split the Editor Services PSHost implementation into a separate project"
While working on making Editor Services run inside of the standard PowerShell console host, I came to the realization that PSES should not provide its own PSHost implementation.  Instead, Editor Services should be usable in _any_ PowerShell host implementation and blend in cleanly.  This means that the current PSHost implementation (plus other console management abstractions) don't need to be a co

[2016-09-30 00:04] daviwil opened #293 "Consider using Microsoft.Extensions.Logging to replace Logger class"
I'm considering getting rid of the current `Logger` class and replacing it with [`Microsoft.Extensions.Logging`](https://github.com/aspnet/Logging) so that multiple logging providers can be used at once.  This would allow us to write not only to a log file but also send log messages to other sinks like a real-time log viewer or the host editor.

Haven't fully decided yet whether this will be a ben

[2016-09-30 01:45] kapilmb commented on #14
@daviwil Sorry for getting back so late about this. Sure, you can assign this to me if you haven't started work on it already.

[2016-09-30 17:47] daviwil commented on #14
Assigned, thanks Kapil!

[2016-10-07 18:11] randomchance commented on #293
I think this is a solid change, logging is one of those things that tends to be simple until it isn't, and then you outsource it.

[2016-10-07 18:52] daviwil commented on #293
Absolutely!  I'm also thinking it's good to standardize on a common framework that might also be used by other modules/apps so that PSES logging can be integrated with other logs if used in a larger context.

[2016-10-09 21:08] rkeithhill opened #294 "Update to latest PSScriptAnalyzer"
We're currently shipping 1.7.0 and should update to 1.8.0 (at least) for the upcoming 0.8.0 release.  It has a few goodies we want IMO: https://github.com/PowerShell/PSScriptAnalyzer/blob/development/CHANGELOG.MD

[2016-10-10 04:03] rkeithhill opened #295 "Script file symbols should be sorted in alpha order - not in order of position in script"
When you're using this feature, scanning a list that isn't alpha sorted is a PITA.

[2016-10-10 21:41] ngetchell commented on #289
I'd love to be able to start writing against $PSEditor but figuring out how to get PSES installed has been a pain.

[2016-10-10 21:55] daviwil commented on #289
Hey Nicholas, you don't really need to set up PSES to get started using the `$psEditor` API, you can actually do it using the version of PSES that comes with the PowerShell extension for VS Code.  If you open up a .ps1 file in the editor you can write some code against `$psEditor`, select it, and press F8 to evaluate it in the session.  You can even register commands with `Register-EditorCommand`

[2016-10-10 23:51] ngetchell commented on #289
Not sure what I was doing wrong but $psEditor showed nothing and Register-EditorCommand came back with "not recognized as the name  of a cmdlet...".

Works now.

[2016-10-10 23:52] daviwil commented on #289
Maybe you were running the script in the debugger?  Currently the `$psEditor` stuff isn't loaded when scripts are being executed in the debugger.

[2016-10-10 23:54] ngetchell commented on #289
That's it. I'm used to the ISE where there is really only one output pane.

[2016-10-10 23:55] daviwil commented on #289
I think we'll be back to that style of development soon!

[2016-10-12 19:05] daviwil opened #296 "Move code for finding available ports from bootstrapper script to EditorServicesHost"
The `Start-EditorServices.ps1` bootstrapper script currently scans for available TCP ports before starting up the language and debug services.  This should not happen in the bootstrapper, but somewhere inside of the C# code.  This logic should be moved.

[2016-10-22 13:32] pcgeek86 commented on #281
+1

[2016-11-01 23:08] rkeithhill opened #298 "Add support for breakpoint hit count"
Just saw this in the 1.7 insider's release notes.  Sounds like debugger extensions must be modified to support this.  I suspect this should be easy to support.

[2016-11-03 00:20] daviwil commented on #298
Sounds good!  That will be a nice addition.

[2016-11-03 01:54] rkeithhill opened #299 "Investigate if Wait-Debugger can be made to work with the PSES"
Not sure if this is possible but at the very least if I run a script from the PSES debugger it would be nice if the Wait-Debugger command would pause the PSES debugger.

[2016-11-03 04:41] rkeithhill commented on #298
Investigated and ran into a snag.  Enh request for PowerShell here: https://github.com/PowerShell/PowerShell/issues/2594

Initial work is committed to my fork: https://github.com/rkeithhill/PowerShellEditorServices/commit/f56a68367494646c4806d2c7011bad8aabd33fa6

Might be able to track the `conditional break` count ourselves and get this done.  Need to think on it some.

[2016-11-03 14:38] daviwil commented on #298
Even if this improves in PowerShell 6.0+, we'd still have to make it work for older versions.  I think we'll have to do it ourselves for now.  Maybe we can augment the user's condition code if it helps?

[2016-11-03 21:39] rkeithhill commented on #298
True enough.  I'll experiment with maintaining the hit count in a global variable.  Do we have a naming convention for globals created by the debugger?  Maybe something like `__psEditorServices_hitCount`?

[2016-11-04 00:08] demyte commented on #138
@daviwil Any update on this one?

I am running 0.7.2 on Windows.

I have a simple script of:

Shows nothing in the Debug window nor in the PowerShell Output window.

If I execute the lines using F8, I get output in the PowershellOutput window for the first and third commands.

[2016-11-04 02:39] rkeithhill commented on #298
OK, this seems to work although it does inject a global into the debug session.  I think that should be OK.
[code]

[2016-11-18 06:58] kapilmb commented on #269
It turns out PSSScriptAnalyzer keeps adding ASTs to the `dictionary` without removing them even after having no use of them. But since, EditorService now uses `Invoke-ScriptAnalyzer` to get the diagnostic markers, this would not be an issue. I think we can close this issue now.

[2016-11-18 06:58] #269 closed

[2016-11-28 17:03] daviwil commented on #298
This is done right?  Should we close it?

[2016-11-28 17:07] daviwil opened #305 "Add support for module debugging"
In addition to debugging scripts, we should also support the debugging of modules.  If the user sends a .psd1 file as the script to debug, we could just load that module into the session and then allow the user to type whatever commands they like in the debug console to execute the module code where they've set breakpoints.

We could also allow a way for the user to specify a "startup script" inli

[2016-11-28 17:39] rkeithhill commented on #298
Yes, it has been implemented.

[2016-11-28 17:39] #298 closed

[2016-11-29 22:23] #138 closed

[2016-12-05 15:21] daviwil opened #308 "Enable IntelliSense based purely on version-specific PowerShell metadata"
A fairly common request is for the editor to give IntelliSense for a particular version of PowerShell.  For instance, a user on a Windows 10 machine with PowerShell 5.1 might want to emulate IntelliSense for a Windows 7 machine running PowerShell 2.0.  It'd be nice if we could switch to a compatibility mode which provides cmdlet and .NET IntelliSense based on what's available on the target platfor

[2016-12-06 15:57] daviwil commented on #197
This feature was finished by @kapilmb and merged recently!  https://github.com/PowerShell/PowerShellEditorServices/pull/304

[2016-12-06 15:57] #197 closed

[2016-12-06 16:08] daviwil opened #309 "Enable single-file (no workspace) debugging experience"
One important part of the PowerShell ISE workflow that needs to be replicated in VS Code is opening the editor, typing in some PowerShell script, setting a breakpoint, then running the code.  Currently VS Code requires you to open a folder to define a workspace where a launch.json file can be found.  This limitation will have to be removed before we will be able to provide this experience.

The VS

[2016-12-06 16:10] daviwil commented on #309
Argh, filed this in the wrong repo.

[2016-12-06 16:10] #309 closed

[2016-12-06 17:54] kapilmb commented on #294
We do not ship PSScriptAnalyzer with VSCode anymore. EditorServices depends on an already installed PSScriptAnalyzer module.

[2016-12-06 17:58] daviwil commented on #294
For the moment we do still ship PSSA with the VS Code extension, but I'd like to avoid that in the future.  I'll  make sure we're tracking that appropriately.  For 0.8.0 we'll need to include PSSA until we do the work to make a smooth transition to a non-bundled PSSA.

[2016-12-06 18:00] daviwil commented on #54
We're discussing this over at https://github.com/PowerShell/vscode-powershell/issues/167 right now, planning to start implementing it fairly soon!

[2016-12-06 18:20] daviwil commented on #294
Tracking the unbundling of the module here: https://github.com/PowerShell/vscode-powershell/issues/360

[2016-12-06 18:21] daviwil opened #310 "Ship PowerShellEditorServices module to the PS Gallery"
We should start shipping the PowerShell Editor Services module to the PowerShell Gallery so that other editors can easily pull down the dependency without having to bundle with their extension.

[2016-12-06 18:28] daviwil commented on #7
This still needs to be improved to reach ISE-level compatibility.  One thing the ISE does that PSES doesn't is continue giving completions if you use a forward slash after the string:

[code]

Typing a forward slash `\` after the closing single-quote continues the path IntelliSense in the ISE but does nothing in VS Code.  We should smooth out that experience so that we have great path IntelliSense

[2016-12-06 18:31] kapilmb commented on #294
Got it!

[2016-12-06 18:31] daviwil commented on #21
I don't think this is necessary anymore, closing it for now.

[2016-12-06 18:31] #21 closed

[2016-12-06 18:32] daviwil commented on #9
This might be a nice Script Analyzer rule to add for a development ruleset, what do you think @kapilmb?

[2016-12-06 18:32] daviwil commented on #13
@kapilmb has been working on this already, maybe we can get it in for 0.9.0 in January?

[2016-12-06 18:33] daviwil commented on #11
I've recently seen the need for this (especially the `Import-Module` usage inside of a project) in the Azure Stack team.  Need to start making progress on this soon.

[2016-12-06 18:34] kapilmb commented on #9
Yes, it looks like such a rule will be useful indeed!

[2016-12-06 18:44] kapilmb commented on #13
Yes, I think we will have it merged by then.

[2016-12-07 02:46] kapilmb commented on #9
Here is the issue: PowerShell/PSScriptAnalyzer#680

[2016-12-07 16:56] daviwil opened #312 "VS Code file preview Uris crash the language server"
It appears that when VS Code previews a find/replace in the UI it sends a Uri like this to the language server: `private:/c%3A/Github/Posh-Teamviewer/Build.PSDeploy.ps1#preview`.  It's likely that the language server should just ignore Uris starting with `private:/`.

Here are the logs from @gerane which show the stack trace:

[code]

[2016-12-07 17:12] gerane commented on #312
I believe this is the issue causing PSES to crash
Microsoft/vscode#16554

[2016-12-08 00:20] daviwil commented on #242
I'm taking out this timeout entirely for 0.8.0 :)  Fix incoming.

[2016-12-08 04:23] rkeithhill commented on #242
+1 I wonder if you could display some sort of "waiting for user input" indicator in the PowerShell area of the status bar.  In the PowerShell console it is a bit more obvious when a script is stopped waiting on input.  Less so in the debug console.

[2016-12-08 14:31] daviwil commented on #242
That's an interesting idea, having a running/waiting indicator.  I think Trevor had asked for a running indicator in the past.  Actually, I just merged a change that Doug made that allows us to send status bar messages back to the editor so maybe I can use that.

[2016-12-08 15:57] daviwil opened #313 "Redesign ExtensionService to use granular feature interfaces"
Right now all editor features are exposed through a monolithic interface `IEditorOperations`.  I think it would be better to go with a model that depends on more granular interfaces like `IEditorWindowFeature` which can be registered with the `ExtensionService` at runtime to light up that feature in the `$psEditor` API.

An editor integration may not want or need to expose all of the possible `$ps

[2016-12-09 18:51] daviwil commented on #295
Hmmm...  I just tried sending back a sorted list from the language server.  Looks like VS Code is doing their own sorting based on file position so my ordering gets defeated.  And now that I search their issues list, looks like you already found this :smile:

https://github.com/Microsoft/vscode/issues/14240

Closing this issue since it's caused by VS Code.

[2016-12-09 18:51] #295 closed

[2016-12-09 18:53] daviwil commented on #192
This may be fixed already due to the way we load PowerShell now (always with `-ExecutionPolicy Unrestricted` at the command line).  Will investigate later.

[2016-12-09 22:20] #242 closed

[2016-12-09 22:20] #312 closed

[2016-12-09 22:20] #236 closed

[2016-12-09 22:20] #237 closed

[2016-12-09 22:20] #291 closed

[2016-12-12 00:42] daviwil opened #315 "Log an error message for unhandled request and event types"
We need to log an error when a message is received which doesn't have a registered message handler.  This will help when investigating messages that don't seem to be working correctly (like the new "powerShell/getVersion" request).

[2016-12-12 14:18] #315 closed

[2016-12-13 01:03] daviwil opened #318 "SessionPSHostUserInterface should implement IHostUISupportsMultipleChoiceSelection"
Our current host implementation needs to implement the IHostUISupportsMultipleChoiceSelection because Plaster is using it to provide multi-choice selections.  We have a client-side implementation for this in Visual Studio Code so all we need to do now is wire that all the way through the language server.

https://msdn.microsoft.com/en-us/library/system.management.automation.host.ihostuisupportsmul

[2016-12-13 16:01] killerall commented on #53
Hello,
Is there any date to do this?

[2016-12-13 22:58] gerane opened #319 "Re-Registering an Editor Command without -SuppressOutput requires Reload"
I'm not sure if this was intended or not, but wanted to ask if this was working as intended.

If you have an Editor Command that is registered, and you Register it again without -SuppressOutput
it will continue to Suppress all output until a reload of the Editor. It can be a little confusing because it registers any other changes you might make to the Editor Command.

[2016-12-14 00:07] daviwil commented on #319
That seems pretty weird, I'll look into it.  Thanks!

[2016-12-14 00:34] gerane commented on #319
Not that big of a deal, but figured I'd report it.

[2016-12-15 00:37] #318 closed

[2016-12-15 00:39] daviwil commented on #294
I'm bundling PSScriptAnalyzer 1.9.0 with the 0.8.0 release of the VS Code extension.

[2016-12-15 00:39] #294 closed

[2016-12-15 00:40] daviwil commented on #255
Going to have to put this off one more release, just didn't have time to get it in for this one.

[2016-12-19 15:39] daviwil opened #323 "DSC IntelliSense can cause language service crash"
Originally reported here: https://github.com/PowerShell/vscode-powershell/issues/391

The issue is that IntelliSense within DSC resources can sometimes return an invalid replacement range which causes bounds checking in the BufferRange class to throw an exception.  Since this isn't a fatal issue for the language server the exception should be caught and logged so that the session may continue.

[2016-12-19 15:53] #323 closed

[2016-12-19 17:17] daviwil opened #325 "PSScriptAnalyzer module loading needs to pick the latest installed module"
After changing the "bundled modules" behavior in the VS Code extension, the door was opened for an older version of PSScriptAnalyzer to be loaded by accident since the user- and system-wide module paths now take priority.  We need to make sure we only load the latest version of this module no matter where it comes from (bundled or installed).

/cc @gerane

[2016-12-19 17:23] gerane commented on #325
Here is some output just in case anyone else might find it useful.

Here is the output of the Get-Module

[code]

Here is the output of the Get-Module -listavailable

[code]

[2016-12-19 19:44] gerane commented on #325
@daviwil I manually removed PSScriptAnalyzer, and imported 1.9.0, but it still appears to be broken. Does it need to be imported at a certain time?

[2016-12-19 19:49] daviwil commented on #325
PSScriptAnalyzer is being loaded and used in a secondary runspace, so loading the correct version yourself in the editing session's runspace has no effect.

[2016-12-19 20:12] #325 closed

[2017-01-17 00:59] rkeithhill opened #338 "Need new PSSA code fix that injects the SuppressMessageAttribute in the right place."
Title pretty much says it all.  Although I can imagine "finding" the right place to put the attribute might be tricky.

[2017-01-17 13:42] daviwil commented on #338
Yeah, it'd be nice to have a "suppress" recommendation that can add it.

[2017-01-17 20:27] rkeithhill opened #339 "Prompt functions that return something other than string cause an InvalidCastException"
I was trying to debug some Pester tests while using latest PSES bits and was getting stymied by my breakpoints never getting hit.  When I commented out the bundledModulesPath setting and went back to using 0.8.0, my breakpoints were hit.

Should be able to repro this with the Plaster repo, opening debugHarness.ps1 and uncommenting the code that invokes Pester.  Set a breakpoint in one of the *.Tes

[2017-01-18 00:54] daviwil commented on #339
Hmmm, I just tried setting a breakpoint in a test in `ConditionEval.Tests.ps1` then ran `debugHarness.ps1` with the `Invoke-Pester` call uncommented, the breakpoint got hit for me.  Could you try it again with Verbose logs on and email the logs to me?  Could be something weird going on that I'm just not seeing here.

[2017-01-18 00:55] rkeithhill commented on #339
Will do.  I should have that by later tonight.

[2017-01-18 01:33] rkeithhill commented on #339
[1484702865-7a0f361c-6146-4030-afcc-c613a719e28c1484600221675.zip](https://github.com/PowerShell/PowerShellEditorServices/files/712801/1484702865-7a0f361c-6146-4030-afcc-c613a719e28c1484600221675.zip)

Here ya go.  It looks like an exception in the posh-git prompt function might be at fault.

[2017-01-18 04:54] daviwil commented on #339
Looks like the prompt function is returning a list of results rather than a string so it broke my prompt handling function.  About to send a PR.

[2017-01-18 05:04] daviwil commented on #339
So one thing this did point out to me is that I turned debugger prompts back on by default after we decided to turn them off in issue #130.  The main reason for doing this was that I wanted the remote session / entered process prompt to be displayed so that it's obvious the user is in a non-default session.  We currently don't have a better way to do that in the debug console.

It looks alright un

[2017-01-18 05:14] rkeithhill commented on #339
I believe we still have some issues with the "default prompt" that posh-git installs.  Regarding the prompt, I still think that a "prompt" isn't the right thing to display whether it's the user's prompt or one provided by PSES.  I would find it useful to see what type of breakpoint was hit and at what location (file:line).  So yes on #3 if you can override the prompt function to display this infor

[2017-01-18 05:41] daviwil commented on #339
Hmmm, good point.  Though this causes us to lose some of that session connection info if we don't spit out the prompt.  Unfortunately I don't always have the necessary context to know when I'm in a remote session so that we only print it out when we're in a non-default session.  And there's always the chance that the prompt function in any session could throw an error which would cause the prompt

[2017-01-18 14:06] daviwil commented on #54
We'll have a first pass implementation of a new code formatter in this week's release!

[2017-01-18 14:06] #54 closed

[2017-01-18 15:09] daviwil opened #342 "Handle unsupported file URI schemes more reliably"
VS Code keeps adding new file URI schemes that somehow end up getting passed through to our language server (usually a bug on their end).  The short-term fix is always to add the unexpected URI to `Workspace.IsPathInMemory` but I think that since this keeps happening, we need an official mechanism to handle any unexpected URI scheme.

Fixing this will require more robust checks in all of the code

[2017-01-18 15:30] rkeithhill commented on #339
So no way to override the session's prompt with one from the extension?  I don't think you'd even need to bother to put it back to the original until we have the interactive console.

[2017-01-18 15:37] daviwil commented on #339
I don't have to run the prompt function at all, I'm just trying to find a way to preserve the information that I can get from the prompt in the cases where I need it.  Maybe I don't need it, but I'm still trying to decide whether it's more costly (or inevitable) to gather the information that I'd otherwise get from the default prompt.

[2017-01-18 15:48] rkeithhill commented on #339
Many folks override their prompt in their global profile.ps1 file.  And many I've seen don't bother checking if the session is currently stopped at a breakpoint or has a nested prompt e.g. `>>`.

What information are we trying to preserve?  Path?  That is the common thing displayed in the prompt.

[2017-01-18 15:55] daviwil commented on #339
Nah, the session connection information, like `[localhost][Process:29331]`, etc.  With the new remote/attach debugging features this information is pretty critical to knowing where you are at the moment.

[2017-01-18 15:55] daviwil commented on #339
And AFAIK those bits of info get written out by PowerShell regardless of what the user's prompt function returns.

[2017-01-18 15:59] rkeithhill commented on #339
Oh **that** info.  Yeah, that would be good to have.  :-)

I believe that is correct since the default prompt does not have that info:
[code]

[2017-01-18 19:14] daviwil opened #343 "Wire up new Plaster TemplateResult features"
As of the currently unreleased Plaster 1.1, we now have the concept of `Project` and `Item` templates.  Some work has already been started to wire these up but we decided to punt it to 0.10.0 due to lack of time.

[2017-01-18 19:15] daviwil commented on #343
Current work is in branch `daviwil/plaster-template-type`.

[2017-01-18 22:20] daviwil commented on #339
OK, I think I got it cleaned up pretty nicely, it looks like this now when you hit a breakpoint:

[code]

If you're stepping through the code no prompt will be written out because the stop wasn't caused by a breakpoint.  If you run a command in the console, the real prompt will get written out after the command completes.  I'm pretty happy with this solution, sending a PR in a minute.

[2017-01-18 22:50] daviwil commented on #339
PR is here: https://github.com/PowerShell/PowerShellEditorServices/pull/344

[2017-01-18 22:56] #339 closed

[2017-01-19 03:08] rkeithhill opened #345 "Exception in log during debug - debugger acting non-responsive"
This is the stack trace (I've attached the full log file):
[code]
I just updated to the latest of PSES and vscode-powershell and am using those bits.

[1484794581-d6e1949c-04ff-4ef8-9f75-620ba66b16ba1484794578279.zip](https://github.com/PowerShell/PowerShellEditorServices/files/715588/1484794581-d6e1949c-04ff-4ef8-9f75-620ba66b16ba1484794578279.zip)

[2017-01-19 03:13] rkeithhill opened #346 "GetVersionDetails failing due to empty $env:PROCESSOR_ARCHITECTURE"
Just looking at a log file and noticed this:
[code]
This on latest bits updated just a little while ago.

[2017-01-19 04:36] daviwil commented on #346
Haha, wow, I actually broke it on the VS Code side by sending an empty environment variables object to the process, must have cleared out all the env vars completely.

[2017-01-19 04:46] rkeithhill commented on #346
Yeah, probably good to get that fixed before the release.  :-)

[2017-01-19 05:56] #346 closed

[2017-01-20 17:00] daviwil commented on #192
OK, this issue still exists, it was just reported again by @cobdev in https://github.com/PowerShell/vscode-powershell/issues/454.  The problem is that we're calling Set-ExecutionPolicy inside of the language server after PowerShell was already launched with an Unrestricted execution policy.  I think we just need to take that out for now.

[2017-01-22 02:05] daviwil opened #352 "Migrate to new VS 2017 RC AppVeyor image to fix test logger issue"
Following up from https://github.com/PowerShell/PowerShellEditorServices/pull/351:

In its WMF 5 image, AppVeyor currently doesn't have a test logger compatible with the latest .NET CLI tools so we can't get our `dotnet test` output to show up in AppVeyor's test list yet.  We are still able to use the traditional test run approach to get by for now, but we should move to the new image and get rid

[2017-01-23 15:06] daviwil opened #353 "Release build hangs when WarningsAsErrors is used"
This seems like a bug with the new .NET SDK tools, but with our new build setup I wasn't able to use the `WarningsAsErrors` setting which causes the build to be failed when public APIs lack documentation comments.  The error occurs correctly but the build hangs at this point and never completes.  I'll file a bug somewhere about it.

[2017-01-24 00:14] #352 closed

[2017-01-27 22:23] kayessaych commented on #114
For what it's worth - if you try to do the same thing in Visual Studio 2013 with Powershell Tools installed it does prompt you for secure and even non-secure things in a modal as you've described while debugging.  It's not a terrible solution all things considered.  Thanks!  ..looking forward to this one so I can switch to VS Code.

[2017-01-27 22:37] daviwil commented on #114
Yep, I've considered using a similar approach, but the upcoming interactive terminal experience for VS Code should hopefully circumvent the need for that.  If that doesn't pan out then I'll definitely go for the modal dialog experience.

[2017-01-27 22:47] kayessaych commented on #114
Are there any timelines for the upcoming interactive terminal experience?

[2017-01-27 22:48] daviwil commented on #114
Current goal is to have a first release of it out by the end of February, I'll be starting on it next week.

[2017-01-28 07:15] rkeithhill opened #355 "Attach to process debugging stops in a weird spot after initial attach"
I've been using "attach to" to debug posh-git tab expansion (awesome that I can do this!).  However when I attach the debugger and trigger a breakpoint, the debugger stops where there is no breakpoint:
![image](https://cloud.githubusercontent.com/assets/5177512/22395020/46804c5e-e4ee-11e6-816f-26634b88a277.png)
You can repro this by running posh-git from a cloned repo, attach to the process, set a

[2017-01-28 07:19] rkeithhill opened #356 "Add debugger pseudo-variable to display "returned" value like C# debugger provides"
I'm not sure if this is possible or not but it sure would be nice to have.  Many times PowerShellers just let various statements "output" from the function so after you've called a function (and you don't capture the output in a variable) it is hard to tell what output the called function is contributing to the output of the current function/script.

[2017-01-28 16:14] daviwil commented on #356
Interesting, I haven't seen that before!  That'd be really useful if possible.  I found this info about how it works in Visual Studio:

https://blogs.msdn.microsoft.com/visualstudioalm/2013/06/27/seeing-function-return-values-in-the-visual-studio-2013-debugger/

[2017-01-29 01:05] rkeithhill opened #357 "Debugger stops responding after a bit of debugging with watches defined"
VS Code 1.8.1, PowerShell ext 0.9.0, Windows 10 AU.

I'm finding that if I have any watch defined, the debugger becomes unresponsive after hitting a few breakpoints.  I didn't see anything obvious in the log file.

[1485651267-212b9958-570a-4602-8228-df639d9e79441485647668037.zip](https://github.com/PowerShell/PowerShellEditorServices/files/737234/1485651267-212b9958-570a-4602-8228-df639d9e7944148

[2017-01-29 10:28] mrward commented on #346
I am seeing a similar NullReferenceException on the Mac using:

 - PowerShell Editor Services 0.9.0
 - Visual Studio Code 1.8.1
 - PowerShell Core: v6.0.0-alpha.14

[code]

[2017-01-29 15:32] daviwil commented on #346
Thanks for letting me know!  I'll get a patch update shipped in a few days.

[2017-01-30 17:58] MartinSGill opened #358 "Build Script fails on clean repository"
Following the build instructions after a new clone fails with the following error:

[code]

[2017-01-30 18:25] #358 closed

[2017-01-31 16:04] gerane commented on #220
@daviwil I was looking at my older issues and saw this one. Are you still planning on adding a more built in way to handle this, or sticking with prompt for choice sort of like how it is now.

[2017-01-31 16:09] daviwil commented on #220
Not sure, I'll have to think about it some more when I've got more time to look at it.

[2017-01-31 16:10] gerane commented on #224
@daviwil I need to check into this one again. Have you added any additional handling for the profile in any of the newer versions? I am working on a blog post that covers the profile, but wasn't sure if the extension handles creating it yet or not.

I do think there needs to be some sort of way of informing users that the pses has it's own profile that can be configured.

[2017-01-31 16:27] gerane commented on #220
Understood. I know we discussed some of this in the past, was just interested if you had put anymore thought into it since then.

[2017-01-31 16:31] rkeithhill commented on #224
I don't think the PSES profile should be created automatically and it is not really an error if a profile script doesn't exist.  That said, a message dumped to the Debug Console about `Processing Microsoft.VSCode_profile.ps1 - file not found, skipping` might help advertise this feature is available.

[2017-01-31 16:45] gerane commented on #224
@rkeithhill good point keith. I like that idea.

I do think more could be done for discoverability. A question I often get is where is the VSCode profile. I don't think many realize they would need to make it if they are actually looking for it.

Hmm, I just checked, and I actually do create the profile if it doesn't exist in this

[https://github.com/PowerShell/PowerShellEditorServices/pull/254](

[2017-02-01 03:38] rkeithhill opened #362 "Peek/Go to Definition not working on script scoped function"
VS Code 1.8.1 / PSES v0.9.0.526

I have a function in a script defined like so:
[code]
Later in the same script it is called but where it is called, if I try to peek or go to definition, PSES does not take me to the above definition.  It does nothing.

I see these relevant messages in the log:
[code]
BTW if I change the callsite to `script:gitRemoteBranches` then PSES can find the function.  It do

[2017-02-01 03:45] daviwil commented on #362
Scoped variables never really worked before, that's an area we need to improve upon pretty soon.  Planning to do that as part of the module-wide analysis effort.  I'll mark it for 0.10.0 in case we get a chance to do it then, otherwise it'll probably come with 0.11.0.

[2017-02-01 03:57] rkeithhill commented on #362
Sounds good.

[2017-02-01 19:09] #353 closed

[2017-02-02 15:47] daviwil opened #363 "Script Analyzer fails to load at times"
Reported by @gerane. This may be fixed already with Kapil's latest changes, but we should keep an eye out for it.  My assumption is that this has to do with how we were initializing the RunspacePool, but now that we do that the correct way this error might not occur anymore.

[code]

[2017-02-06 23:31] kapilmb commented on #357
@rkeithhill Can you please provide me some snippet that I can use to reproduce this issue?

[2017-02-06 23:42] rkeithhill commented on #357
It is easy to repro.  Open up the Examples folder. Open DebugTest.ps1 and set a line breakpoint on the line `$i = $i + 1`.  Add a watch for `$i`.  Select the `PowerShell Launch (current file)` and press F5.  After the breakpoint is hit, press F5 to resume and the debugger never comes back.  Try starting the debugger again, and it is wedged.

[2017-02-07 00:28] kapilmb commented on #357
Thanks @rkeithhill

[2017-02-10 20:00] kapilmb commented on #345
Can you please provide steps for reproducing this case. I looked at the logs and it appears `posh-git\test\testDebugHarness.ps1` was being debugged but I cannot reproduce the hang.

[2017-02-18 20:45] rkeithhill opened #373 "Langauge server crash - PSScriptAnalyzer could not be loaded"
This is on VSCode 1.9.1, PS ext, 0.9.0 and Windows 10 AU.

The log indicates an error with PSScriptAnalyzer:
[code]

[1487448633-d5d5b1c7-6846-4b66-8661-347b7596be6a1487448631865.zip](https://github.com/PowerShell/PowerShellEditorServices/files/785310/1487448633-d5d5b1c7-6846-4b66-8661-347b7596be6a1487448631865.zip)

[2017-02-18 20:51] daviwil commented on #373
I think this is related to how we were running PSSA asynchronously, there were some bugs with that.  I believe it's resolved in the latest bits.

[2017-02-18 20:53] rkeithhill commented on #373
That would fit with what I experienced.  I wasn't really doing much and bam - crash.

[2017-02-19 05:18] fromthewoods opened #374 "Syntax coloring issue with regex"
I searched around and couldn't find any existing issues that address what I'm seeing, so apologies if this is already known.

I have a simple regex pattern `[ValidateScript({$_ -match '^([\d\w]+\.){2,3}[\d\w]+$'})]`
that vscode seems to not be able to handle and I assume it's an issue with PSEditorServices.
![image](https://cloud.githubusercontent.com/assets/5445673/23099888/57b1ac7e-f62e-11e6-9de

[2017-02-20 16:18] Golosok commented on #14
Any updates on this? Symbol search on class definitions/methods would be very nice.

[2017-02-21 01:13] rkeithhill commented on #276
I was looking at adding support for `class` and `enum` symbols but it requires AstVisitor2.  I ran across your comment in the commented out FindSymbolsVisitor2 class.

[code]

If we are already selectively loaded assemblies based on the platform e.g.:
[code]
Why not continue to build different assemblies for v3, v4 and v5 and load those depending on the PSVersion?

[2017-02-21 14:45] daviwil commented on #276
That's what I'll end up doing.  I'm going to be doing a big refactoring of the PSES codebase once I get 0.10.0 out, part of that will be restructuring the assemblies to enable some version-specific features without causing the assembly loader to throw exceptions.

[2017-02-23 16:46] gerane commented on #250
@daviwil is there any update on your plans for this or similar features like #246 or some of the related things we have spoken about? I hadn't talked to you about it in a while so figured I'd ask to see if any of the newer things you have been working on might impact this.

It is getting increasingly harder to use the editor commands I want to use most or use most often. I'd like to be able to for

[2017-02-28 22:25] fromthewoods commented on #374
Did I put this in the wrong repo? Should this be in [PowerShell / vscode-powershell](https://github.com/PowerShell/vscode-powershell) or [Microsoft / vscode](https://github.com/Microsoft/vscode) ?

[2017-02-28 22:26] rkeithhill commented on #374
It should go in https://github.com/powershell/editorsyntax.

[2017-02-28 22:37] daviwil commented on #374
This issue was moved to PowerShell/EditorSyntax#37

[2017-02-28 22:37] #374 closed

[2017-03-06 15:10] daviwil commented on #357
Looks like this was fixed in last Friday's Insider build, they don't send watch requests after the debugger resumes any longer.  I've got my own simple fix for the issue in the meantime, will add it to my PR.

[2017-03-10 03:52] rkeithhill opened #376 "Setting variable values in the debugger is broken"
I think this happen with the `0.9.0` release.  I'm running VSCode 1.10.2 on Windows 10 AU.  Here is the error I'm seeing:

![image](https://cloud.githubusercontent.com/assets/5177512/23781396/3f7b3f5e-050a-11e7-9df5-b0962bb1a3a2.png)

[2017-03-14 02:59] #357 closed

[2017-03-14 03:04] daviwil commented on #114
This has been implemented, release should happen tomorrow!

[2017-03-14 03:04] #114 closed

[2017-03-14 10:48] powercode opened #377 "HereStrings breaks folding"
![image](https://cloud.githubusercontent.com/assets/3505151/23897056/047b6424-08ac-11e7-8d60-ee4292da5294.png)

Folding should be at the beginning of the here string and not at the end.

[2017-03-14 13:17] daviwil commented on #281
This has been done for a while, forgot to close it.

[2017-03-14 13:17] #281 closed

[2017-03-15 10:33] powercode opened #380 "0.10.0 formatting broke magic foreach"
`(0 .. 10).Foreach{$_}` is formatted into `(0 .. 10).Foreach {$_}` which the compiler will not accept.

Same thing with `.Where{}`

[2017-03-15 10:43] powercode commented on #380
It can be worked around by using the `.Foreach( {$_} )` construct instead, but it is bad since it breaks scripts by just saving them when auto formatting is enabled.

[2017-03-15 13:37] daviwil commented on #380
Hey Staffan, thanks for filing this!  @bgelens also noticed it.  We'll get it fixed :)

[2017-03-15 18:40] daviwil opened #382 "PSHostUserInterface should set SupportsVirtualTerminal to true"
Users of the PowerLine module have noticed that VT100 sequences aren't being written out correctly in the integrated console.  This requires the `PSHostUserInterace.SupportsVirtualTerminal` property to be overridden with a return value of `true`.

/cc @Jaykul

[2017-03-15 19:55] jdhitsolutions opened #384 "Add support for Write-Progress with integrated console"
Greatly appreciate the PowerShell integrated console introduced in 0.10.0. It would be helpful to include support for Write-Progress.  Currently code like this:
[code]
Runs without error but also without any display.

[2017-03-15 20:29] jdhitsolutions commented on #384
Not sure if this belongs here or https://github.com/PowerShell/vscode-powershell/issues

[2017-03-15 22:54] dragonwolf83 commented on #384
I vote for making it show up in console first. Later, it would be great to have a setting to allow for an Editor UI to override it.

With ISE, progress looks nice for one item, but was a bit too heavy when doing multiple progress bars. IIRC, the Console had a better experience and I was actually wanting to turn off the UI after I saw that.

[2017-03-16 15:56] #382 closed

[2017-03-16 17:43] #192 closed

[2017-03-16 20:11] daviwil opened #387 "Write-* commands are missing labels and colors"
Write-Verbose, Write-Warning, and Write-Debug are missing their prefix labels and foreground colors.

[2017-03-16 21:44] #387 closed

[2017-03-17 16:58] gerane opened #390 "invokeExtensionCommand is adding an additional double quote to currentFilePath and crashing session"
Code Version: 1.11.0-insider
OS Version: Windows 10

When launching Editor Commands, for some reason it has started appending an additional double quote to the end of the path and causing an error that crashes the PowerShell session. It seems random and not related to the path. I have had the same path work and then stop working. When it starts breaking, it almost seems like every file in the proj

[2017-03-20 16:23] gerane commented on #390
@daviwil This is also happening to filepaths when using f5 to debug\execute open script. I get the following error

[code]
You can see where it has had an extra double quote tacked on to the end. Here are the logs from running this.

https://gist.github.com/gerane/574fc1b037294009d244b81e6730f1a4

[2017-03-20 17:40] daviwil opened #393 "Add new quick pick API to $psEditor"
Now that we've moved to an integrated console in the PowerShell extension for VS Code, we need an alternative way for showing UI prompts from modules like Plaster and other editor commands.  It would be better to have a more focused API for showing quick pick lists instead of overloading the existing PSHostUserInterface prompt APIs.

[2017-03-20 17:42] daviwil commented on #390
I'll see if I can get this fixed for the next update this week.

[2017-03-20 17:43] daviwil opened #394 "Enable module-wide symbol indexing and operations"
We need to have a more robust and reliable method for indexing symbols across a module or modules within a workspace so that the following operations work as expected:

- Go to definition
- Find all references
- Rename symbol

[2017-03-20 17:45] daviwil opened #395 "Use localizable resources for all user-facing strings"

[2017-03-20 17:48] gerane opened #396 "PSES is adding errors into Integrated Terminal when exe\cmd scripts are executed"
When executing external commands like git.exe, vsce.cmd, and similar. Also noticed it will error if I run help using pscx and it is using **more.com** for pagination. When the command finished an error is added to the output.

Example: `help commandname -full`

![2017-03-20_12-40-49](https://cloud.githubusercontent.com/assets/6662208/24113348/883bc1e2-0d6a-11e7-8319-5f5da3816ba2.png)

Another exam

[2017-03-20 19:43] rkeithhill commented on #396
Certain exe's have a habit of tweaking the console mode. https://github.com/PowerShell/PowerShell/issues/1177

PS Core has supposedly started to always restore the console mode after invoking an exe (better double check that with @lzybkr).  But for <= v5, you have to do that yourself.  We found this with posh-git and use this code to reset the console mode: https://github.com/dahlbyk/posh-git/blob

[2017-03-20 20:57] daviwil commented on #396
Thanks Keith!  I can't get the other Keith's repro to work for this on PS 5.1, have you found another way to repro the issue?

[2017-03-20 21:25] rkeithhill commented on #396
Hmm, not yet. Although I have seen this issue on and off with git.exe starting to generate error records (NativeCommandError) in PowerShell.exe while testing posh-git.  https://github.com/dahlbyk/posh-git/issues/404

We never did figure this out.  We closed it "assuming" it wasn't a posh-git issue.

[2017-03-20 23:15] daviwil commented on #250
I'm fixing this on the vscode-powershell side because PSES only sends an event when a new command is added, not a whole list.  It'll come out with the next update.

[2017-03-20 23:16] daviwil commented on #250
This issue was moved to PowerShell/vscode-powershell#591

[2017-03-20 23:16] #250 closed

[2017-03-21 17:04] daviwil commented on #377
Hey Staffan, sorry for the delay.  This is part of the general class of folding issues caused by VS Code's naive indentation-based code folding implementation.  [This issue](https://github.com/Microsoft/vscode/issues/3422) will need to be fixed before here strings will be folded correctly.

[2017-03-21 17:05] daviwil commented on #377
Going to close this issue since it's not something Editor Services can help with at the moment.

[2017-03-21 17:05] #377 closed

[2017-03-23 14:18] daviwil opened #403 "Stop loading extension commands script resource as a .ps1"
This is causing trouble for users on machines with stricter group policy or AppLocker settings turned on.  Since we haven't signed this dynamically-generated script it throws errors on load.

/cc @dotps1

[2017-03-28 14:38] rkeithhill opened #407 "Sync up with new CompletionItemKinds"
See https://github.com/Microsoft/vscode/issues/2628#issuecomment-289692132

Will have to wait until these are available in VSCode.

[2017-03-28 15:22] daviwil commented on #407
Thanks!  Yeah, there's also a larger issue of needing to update to the latest language server protocol, need to get that going soon.

[2017-03-31 21:53] gerane opened #410 "Buffer Error when pasting command that is longer than a single line"
This was really the only part of the logs that had anything to so with the error. If I paste path of a command into the terminal that is longer than a single line, I get this error thrown.

This is what I was pasting and it is reproducible for me.

`C:\Github\Secure-Host-Baseline-master\Windows\Group Policy Objects\Computer\{A2A38432-E322-437F-9975-B7CC7F16F4AA}\DomainSysvol\GPO\Machine\registry.p

[2017-03-31 21:55] daviwil commented on #410
Hmmm weird, thanks for that one, haven't seen it before.

[2017-03-31 22:02] gerane commented on #410
No, I've been seeing it occasionally, but finally noticed it only seemed to happen when I pasted.

I've also noticed that pasting into the terminal multilinear commands is not working. It's doing the same thing psreadline does.

[2017-03-31 22:05] daviwil commented on #410
My prompt implementation doesn't support multi-line input yet, I'm waiting for PSReadline integration to get that going.  Don't have enough time to make my own implementation at the moment.

[2017-03-31 22:11] gerane commented on #410
Ahh, ok that makes sense. I keep forgetting and copy/paste out of habit still lol.

[2017-04-01 14:11] 4c74356b41 commented on #279
I think I've figured this out, sometimes PS session will crash and VSCode won't restart it

[2017-04-03 00:06] daviwil commented on #390
This must be something VS Code's doing but I honestly have no idea how...  I tried to reproduce it on my machine but couldn't.  When I run an editor command, that file path is coming directly from VS Code's API without any further manipulation on my end.  The fact that it also happens when you run the debugger against the current script makes me think VS Code is returning a path with a quotation m

[2017-04-03 00:09] daviwil opened #411 "Commands executed internally do not interrupt the integrated console command prompt"
There is a general class of problems in the integrated console experience where commands that were executed internally (like extension commands or running Plaster templates) do not interrupt the command prompt, causing future input to be written over previous output lines.

The fix is to have the command prompt be interrupted by any commands which write output or errors to the host.

[2017-04-03 00:26] #411 closed

[2017-04-03 00:29] daviwil commented on #380
Hey @kapilmb, here's one more formatting issue we need to look into.  Looks like there are two cases where we should be making an exception for the "space before open brace" rule, `.Foreach{` and `.Where{`, both of which have special behavior in PowerShell.

[2017-04-03 16:50] kapilmb commented on #380
Oops, looks like this flew under my radar. Will have a fix soon!

[2017-04-03 18:58] dfinke opened #413 "Enable piping multiple file paths through `psedit` to open those files"
This would be a time saver. List files in the integrated console and pipe the list to `psedit` to be opened in vs code.

[code]

The current implementation does not support multiple files and does not flow as easy.
[code]

[2017-04-03 18:59] daviwil commented on #413
Love this idea, I'll see how we can make it happen.

[2017-04-03 19:03] daviwil commented on #413
Ahhh, I think I misunderstood this one.  I was thinking you could do something like `Get-Process | psedit` and throw the output of a command into a new untitled buffer.  I'll file a separate issue for that :)

[2017-04-03 19:05] daviwil opened #414 "Enable piping text to `psedit` to open a new untitled buffer"
It should be possible to pipe text from an arbitrary command into `psedit` to open a new untitled file buffer.  For example:

`Get-Process | psedit`

[2017-04-03 22:22] #380 closed

[2017-04-04 14:10] daviwil commented on #363
I believe this should be fixed now.

[2017-04-04 14:10] #363 closed

[2017-04-04 22:05] daviwil opened #416 "Clean up session errors from Get-Command and Get-Help calls"
Looks like our usage of Get-Command to get command information is throwing errors that pollute the `$Errors` variable:

![image](https://cloud.githubusercontent.com/assets/79405/24680996/0578ca90-1948-11e7-8c8e-8382f5cd50ff.png)

We should probably add `-ErrorAction Ignore` to all Get-Command and Get-Help invocations.

[2017-04-04 22:09] dfinke opened #417 "F5 on Untitled-1 file in 0.12.1 with existing .vscode\launch.json from prev version hangs debugger"
This is the log.
[EditorServices.txt](https://github.com/PowerShell/PowerShellEditorServices/files/894657/EditorServices.txt)

and the launch.json
[launch.txt](https://github.com/PowerShell/PowerShellEditorServices/files/894658/launch.txt)

[2017-04-04 22:15] daviwil commented on #417
This issue was moved to PowerShell/vscode-powershell#650

[2017-04-04 22:15] #417 closed

[2017-04-05 23:48] daviwil opened #419 "Log IntelliSense duration for diagnostic purposes"
This will help with diagnosing IntelliSense issues.

[2017-04-05 23:49] daviwil opened #420 "Return consistently-cased file paths to the editor"
Since VS Code is case-sensitive regarding file paths, it will show two editor tabs for the same file when debugging if a breakpoint is hit in a file where the casing is different from the tab it's already open in.

[2017-04-05 23:59] daviwil opened #422 ""Interactive Session" debugging mode is adding extra prompt to console"

[2017-04-06 00:03] #416 closed

[2017-04-06 00:03] #419 closed

[2017-04-06 02:49] daviwil opened #423 "Move prompt gathering out of GetSessionDetails"
When I introduced the concept of gathering session details after each command that gets run, I rolled prompt gathering into that to avoid running yet another command each time a prompt is needed.  It seems that this causes more problems than necessary because a prompt function that throws errors does not get handled correctly anymore.

I'll move prompt gathering back out into the ConsoleService so

[2017-04-06 02:50] daviwil commented on #423
Related to this issue comment: https://github.com/PowerShell/vscode-powershell/issues/652#issuecomment-292048745

[2017-04-06 04:02] #422 closed

[2017-04-06 04:10] daviwil commented on #420
Potentially related to this issue in VS Code: https://github.com/Microsoft/vscode/issues/12922

[2017-04-06 17:54] daviwil opened #426 "Enabling profile after starting session causes prompt to be written again on the same line"
Screenshot:

![image](https://cloud.githubusercontent.com/assets/79405/24768446/695cf3d6-1ab7-11e7-9d7b-ffcce636e54a.png)

[2017-04-06 18:46] daviwil opened #427 "IntelliSense running in the debugger can crash the Editor Services host"
Looks like I need to handle a possible ErrorRecord result from running TabExpansion2:

[code]

[2017-04-07 00:42] rkeithhill opened #428 "Debugger hangs when you press stop while an input prompt is active"
This is with PSES 0.12.1 and VSCode 1.11.0.  Try this.  Open a file and put in `Remove-Item`.  This will prompt you for a path to remove.  Stop debugging before replying to the prompt in the console.   The debugger appears to stop but if you try to debug again, it doesn't start debugging.

[2017-04-07 01:21] daviwil commented on #428
Cool, I'll take a look tonight.  Aborting the execution should cancel the prompt, but maybe I lost that behavior with the integrated console changes

[2017-04-07 04:05] daviwil commented on #428
Seems like there's a larger problem here where input prompts can't be cancelled via code, only through the integrated console.  I believe this was caused by my change to using Console.ReadKey synchronously on a background thread.  I think it's going to require a loop to check the state of the cancellation token while waiting for the string to be read on a different thread.  Not a huge change, but

[2017-04-07 04:09] daviwil commented on #428
Current work is here: https://github.com/daviwil/PowerShellEditorServices/commit/d3c440f0963951138e13e6f891734407b99644a0

[2017-04-07 13:25] #427 closed

[2017-04-08 00:16] dfinke opened #434 "$psEditor.GetEditorContext() doesn't work with untitled-1 unsaved file"
Exception calling "GetEditorContext" with "0" argument(s): "One or more errors occurred."
At line:1 char:1

[2017-04-08 00:17] dfinke opened #435 "Please add a $pseditor.Workspace.NewFile()"

[2017-04-08 15:40] daviwil commented on #435
Thanks Doug!

[2017-04-08 15:40] daviwil commented on #434
Thanks for catching that one!

[2017-04-11 22:25] SeeminglyScience opened #437 "InsertText method inserts lone carriage return characters as new lines."
Steps to reproduce

1. Open a existing script file with CRLF end of line sequence.

1. Move cursor to the end of the file.

1. In the integrated console run
[code]

The file will be reproduced character by character, but with double lines.

[2017-04-12 14:36] daviwil opened #438 "Consider disabling module auto-loading during IntelliSense"
Module auto-loading during IntelliSense is causing some issues for people, including session hangs and IntelliSense slowness.  We use `Get-Command` to gather information about the currently active IntelliSense result.  This causes the module containing the command to get loaded, and if the module misbehaves somehow, it can damage the rest of the session.

We should consider setting the `$PSModuleA

[2017-04-12 14:45] nightroman commented on #258
@daviwil

When can we expect this little, useful, and long awaited piece of API?
I am not trying to push, just asking for some sort of planning.

[2017-04-12 14:46] daviwil commented on #258
In the next feature update! $psEditor coverage is the short term priority now.

[2017-04-12 22:40] SeeminglyScience opened #439 "Add an on snippet event to psEditor API"
It'd be nice to have an event we could hook into when a snippet is used.  It would be great if the
the ast of the snippet, the variables, and maybe snippet metadata like name was passed to the handler.
Alternatively (or additionally) allow editor commands to act like snippets (e.g. set "variables" to
tab to, etc.) This would enable dynamic snippets that can expand or shape the snippet based on com

[2017-04-17 16:26] alohaninja opened #440 "Debugging Workflow Dependencies"
VS Code PS extension enables you to debug worfklows, but you cannot **Step-Into** function dependencies that are loaded by the workflow.

The workaround for me was to convert my workflows back to functions which prevents me from using `-parallel` and `-throttlelimit` flags for parallel processing.

[2017-04-19 16:56] daviwil commented on #439
Yes, absolutely!  VS Code provides a dynamic snippet capability, I'd like to provide a way for PowerShell code to hook in and offer dynamically generated snippets, as you mention here.

[2017-04-19 16:58] daviwil commented on #440
Thanks Aaron!  Are you able to debug workflows successfully using the ISE?  Since the workflow engine converts the PowerShell code to a different runtime I'm not sure how that would work in practice.

[2017-04-20 16:47] daviwil opened #441 "Add $psEditor API for changing editor settings"
This may need to be editor-specific since the settings format could be different for each.  It could allow an PS-based extension author to do things like set window zoom level, font, theme, etc.

/cc @adbertram

[2017-04-24 16:32] NumberX opened #442 "Variable"
I développe a extension debug for lldb in vscode.
I see in your  debug extension , you have add a auto variable, can you tell me how we can add another type  of variable in variable windows  in vscode.
Cordialement.

[2017-05-03 04:31] rkeithhill commented on #442
Sorry for the delayed response.  We create a "synthetic" scope for Auto e.g.:
[code]
Where the VariableScope is just a class to hold the scope id and name.  Then as we are process stack frames, we determine which variables should also be put in the Auto scope in addition to their actual scope (Local, Script, Global).

[2017-05-08 22:04] daviwil opened #449 "Consider moving to netstandard2.0"
It seems this isn't necessary just yet for PowerShell 6.0.0-beta1, the netstandard1.6 binaries load just fine there.  We should evaluate what we'd gain by moving to netstandard2.0 in terms of APIs, though.

This work was started here but not merged yet: https://github.com/PowerShell/PowerShellEditorServices/pull/448

[2017-05-09 04:24] #428 closed

[2017-05-12 11:08] #279 closed

[2017-05-16 03:09] rkeithhill opened #453 "Integrated Console hang"
This is on VSCode 1.12.2 and 1.0.0 of the extension on Windows 10 CU.

I was editing/debugging for about 30 minutes and noticed the integrated console was completely hung:

![image](https://cloud.githubusercontent.com/assets/5177512/26088109/6fe80ab4-39b2-11e7-8a1a-7bc7cb69e3a4.png)

Here is the log:
[1494900482-47ef4d16-cded-408a-8c1e-8785f4399dbe1494900480918.zip](https://github.com/PowerShell/P

[2017-05-16 03:11] daviwil commented on #453
/cc @kapilmb

[2017-05-16 22:45] kapilmb commented on #453
It is somewhat hard to narrow down just from the logs what exactly is going on there. But I think the only situation where so many calls to `GetDiagnosticRecordsAsync` can be made are during code formatting. If there are hundreds of changes that need to be made by the formatter then this kind of situation might arise due the nature of the implementation. We will be pushing a change to that impleme

[2017-05-18 02:10] rkeithhill commented on #453
Understood.  Just thought that the frequency of calls to that method didn't seem right.  No idea if that is what lead to the hang.

[2017-05-22 20:43] daviwil opened #461 "Support Plaster 1.1.0"
Plaster 1.1.0 hasn't been released yet, but anyone who tries to use Plaster from GitHub with the PowerShell extension will see errors like this:

![image](https://cloud.githubusercontent.com/assets/79405/26327475/77e3aa24-3ef4-11e7-80de-d9b32560dbc8.png)

We need to support the changes that have been made to Plaster so that the language server doesn't crash.

Thanks @bgelens!

[2017-05-22 20:46] rkeithhill commented on #461
I haven't done enough testing on PS Core 6 Beta on .NET Core 2 either.  I can test on Ubuntu easily enough.

[2017-05-22 20:48] daviwil commented on #461
We have to use Travis CI for Linux and macOS. I had started looking into it in the past but haven't got anything working yet.  It'd be good to find a replicable Travis CI setup for all these projects!

[2017-05-22 20:49] rkeithhill commented on #461
Yeah, having cross platform Pester testing would be nice.

[2017-05-23 22:53] PowerSchill commented on #461
The goal would be to add Linux and macOS testing to the Plaster repo or here?

[2017-05-23 22:56] rkeithhill opened #462 "Random ValueFromPipelineByValue error in PSIC while editing script"
VSCode 1.12.2, Ext: 1.1.0, Windows 10 CU.

Here is the error that showed up in the PSIC:
[code]
[1495579816-646549eb-cb5a-4a84-9336-af14a96c21161495495298087.zip](https://github.com/PowerShell/PowerShellEditorServices/files/1023928/1495579816-646549eb-cb5a-4a84-9336-af14a96c21161495495298087.zip)

[2017-05-23 22:56] daviwil commented on #461
Both!  We'd test PSES here and Plaster at the Plaster repo.

[2017-05-23 22:57] daviwil commented on #462
Hmmm, weird, haven't seen that before.  Should be easy to fix though.

[2017-05-23 23:04] rkeithhill commented on #462
This is a bug in my script but it probably shouldn't have caused the above exception.  Here's the bad script:
[code]
`ValueFromPipelineByValue` is not a valid property.

[2017-05-23 23:05] daviwil commented on #462
Cool, that's helpful!

[2017-05-24 02:28] SeeminglyScience opened #463 "Make InsertText wait for changes"
Currently if you are making a lot of changes to the same file you need to either use `Start-Sleep` after each call or watch `FileContext` for the changes to show.  Otherwise it won't be inserted in the correct position.

This can be demonstrated by running:

[code]

[2017-05-24 16:11] daviwil commented on #463
Ouch.  Yep, I'll look into that.

[2017-05-25 14:56] Josverl commented on #305
My suggestion for implementation would be to scaffold a simple pester test for that module
then 'the few lines of script' can be added by the user to debug ,
and as a bonus the user is developing unit tests at the same time.

A simple scaffold for the base module tests can be generated using plaster, or any other template, with some additional hints on where to add the test code.
optionally the pe

[2017-05-25 15:32] daviwil commented on #305
Didn't realize this issue was still open!  Module debugging is now fully possible with the proper debugging configuration.  In VS Code it's as simple as setting a breakpoint in your module using `Set-PSBreakpoint` and then loading/running your module code.

I do like the idea of generating basic tests from a module though, that might be better suited as a separate issue.

[2017-05-25 15:32] #305 closed

[2017-05-27 18:46] daviwil opened #469 "Discuss new API structure"

[2017-05-27 19:08] daviwil commented on #469
We should also try to comb over the things that we're currently not implementing from the [Language Server Protocol](https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md) and see what coolness we can expose through APIs.

[2017-05-27 19:32] daviwil commented on #469
Also worth mentioning: this new API will be C#-focused but I'd like to expose it to PowerShell scripters in a useful way.  Since we leverage async/await a lot in our APIs, it may be slightly challenging to use in PowerShell.  Either we should figure out some good patterns for using the async functions from within PowerShell scripts or we should provide some wrapper API classes that make these APIs

[2017-05-27 19:39] SeeminglyScience commented on #469
- IEditorSettings - Provides access to retrieving and changing editor specific settings.

- IContextProvider - Provides information about the current state of the editor, like current file and cursor location.

[2017-05-28 21:36] rkeithhill commented on #469
Do we still need to support PowerShell versions back to v3?  That impacts these external PowerShell modules in that they can't use features not available in v3 like `classes`, `enums`, `.Where{}`, `::new()`, etc.  I know with Plaster I struggled a bit because I develop on Windows 10 where the minimum version of PowerShell is now 5.1.  It is really easy to accidentally use a feature not available i

[2017-05-28 22:19] daviwil commented on #469
I would definitely prefer to keep supporting PSv3 and up, though it's up to the extension module author to decide whether they want to support all of those versions.  We're planning to put together some more rules and tooling to make it easy to write backwards-compatible, cross-platform modules but it'll take a bit of time.

Might be worth having a Plaster template to generate a canonical extensio

[2017-05-29 12:14] SeeminglyScience commented on #469
Would it be worth having a uniform way to disambiguate what an interface is meant to interact with?

For example, at a glance IEditorCommands could mean the command palette in VSCode, the subset of the command palette we call editor commands currently, or PowerShell commands that interact with the editor.

Maybe a separate namespace for interacting with the editor client, PSES itself, and PowerShe

[2017-05-29 16:31] daviwil commented on #469
Hmmm, that's a really good point.  I wonder if a namespace is enough or if we need a consistent naming convention for the interfaces themselves that make it clear which part of the stack they apply to.

The difficulty with the IEditorCommands interface is that some editors will probably allow you to register top-level commands even though VS Code currently doesn't.  There may not be a good way to

[2017-05-29 17:20] daviwil opened #471 "Potential naming and conceptual changes in Host and Protocol layers"
I've been refactoring a lot of code in the Host and Protocol assemblies to enable the new PSES-as-a-framework model and it's given me a chance to think about the names of the classes there.  For example, EditorServicesHost is a bad name because PowerShell already has a concept of a "host."

After some thought, I think I want to make the following conceptual changes:

- What we called `EditorServic

[2017-05-29 19:02] dfinke commented on #471
Could you say a bit more about PSaaF? What are you thinking to integrate this into or wants this integrated?

[2017-05-29 19:22] rkeithhill commented on #471
RE `EditorServicesHost`, could we use just `EditorServices` which is comprised of language services and debug services.  FWIW I like `LangaugeServices` based on my (limited) experience with VS and VSIP pkgs. From the MSDN docs:

`DebugService` sounds right to me.  And is in line with the docs on creating a custom`debug` engine for VS: https://msdn.microsoft.com/en-us/library/bb145934.aspx

RE `Deb

[2017-05-30 22:22] SeeminglyScience commented on #469
Is the intention to make it easier for module developers or easier from the console for all users?

I ask because the problem is easy to solve if you are writing a module. You just have a private function to await and return the result, then all async methods are just an extra command.

On the other hand if the intention is usability from the console or a wider range of PowerShell users, I think t

[2017-05-30 23:14] #462 closed

[2017-05-31 00:49] rkeithhill commented on #469
Thinking of Plaster, don't we need some sort of "activation event" that A) tells Plaster that there is an instance of PSES running and B) provides Plaster with an editor object against which to register commands, pop prompts in the UI.  In this case, who is responsible for loading the Plaster module into the PSES integrated console?  That has to be PSES, right?  That could be done via the extensio

[2017-05-31 02:47] daviwil commented on #469
@SeeminglyScience I definitely agree with the idea of having cmdlet wrappers for the API to make it easier to use in the console or to scripters, that's part of what I'd like to carry over from PSESHelperLibrary :)

People who are familiar with the ISE are pretty comfortable using the `$psISE` object model as an API so I think the new interfaces should be accessible in a similar model through `$ps

[2017-05-31 21:48] daviwil opened #478 "Block comment trigger characters at the beginning of function body do not generate parameter help"
_From @daviwil on May 31, 2017 15:10_

Just noticed this while putting together the changelog for the PowerShell extension:

![Comment help GIF](https://cloud.githubusercontent.com/assets/79405/26637844/6e76cfa6-45d5-11e7-89b8-a2d6a559536b.GIF)

The function gets identified correctly but it seems that PSScriptAnalyzer doesn't read the parameters correctly if a `[CmdletBinding()]` attribute is used

[2017-05-31 21:48] daviwil commented on #478
Since this is a PSES issue I'm moving it over to the PowerShellEditorServices repo :)

[2017-05-31 21:49] #478 closed

[2017-05-31 23:42] daviwil commented on #434
I screwed up the issue tag for this, but this has been fixed now as of https://github.com/PowerShell/vscode-powershell/pull/811, will be in 1.2.1.

[2017-06-01 22:45] SeeminglyScience opened #483 "Static methods in PSClasses are sometimes marshaled to disposed runspaces"
# Steps to reproduce

1. Download an extract in the included example.

1. Move the folder "Example" into your PSModulePath

1. Open the folder "Example2" in VSCode

1. Open the file "First.ps1" and run the command `Test-Class` (this is a function from "Example")

1. (Optional) Run the command included in "First.ps1", this will show the runspace the static method is currently bound to.

1. Open the

[2017-06-02 18:26] daviwil opened #486 "Ensure Logger writes are thread safe"
Just got some logs from a user where the language server crashed due to two threads hitting a race condition while writing to the log file at the same time:

[code]

I literally just started to rework the logging system so I'll try to make this happen simultaneously.

[2017-06-03 15:22] daviwil commented on #288
Thanks to @PowerSchill this is now done :)

[2017-06-03 15:22] #288 closed

[2017-06-03 15:32] #403 closed

[2017-06-05 13:37] daviwil opened #491 "Expose symbols API through $psEditor model"
This API will allow $psEditor users to request symbols for the current document with which they can perform operations.  This should also allow registering new "symbol providers" which are capable of scanning for symbols that PSES is not aware of (like custom DSLs, etc).

/cc @nightroman

[2017-06-05 20:22] rkeithhill opened #493 "Implement auto-completion for #Requires"
Not sure if this used to work but it isn't in 1.2.1 and it would be really nice to have.

[2017-06-05 20:36] daviwil commented on #493
Doesn't work because the PowerShell engine doesn't give completions for it.  However, we should be able to start adding custom completions soon when I add the completions provider APIs :)

[2017-06-05 20:38] rkeithhill commented on #493
Cool. I'd like to write this one.

[2017-06-05 20:39] daviwil commented on #493
That'd be great!

[2017-06-05 20:40] daviwil opened #494 "Add new completions provider APIs"
We need a new completions system that allows new "completion providers" to be added so that custom completion entries can be added to the existing PowerShell completions.

[2017-06-05 20:41] daviwil commented on #493
Depends on this issue: https://github.com/PowerShell/PowerShellEditorServices/issues/494

[2017-06-05 22:10] daviwil opened #495 "PSRemotingDataStructureException thrown when stopping debugger in remote session"
This seems to have appeared after the 1.2.0 release (or possibly 1.1.0).  If you enter a remote PSSession and start debugging a script there, clicking the Stop button will cause a PSRemotingDataStructureException to be thrown which stops the pipeline and causes the command loop to halt (without crashing the server).

Not sure what's causing this exception yet, need to investigate it.

[2017-06-05 22:11] daviwil commented on #495
Current work on a fix is here: https://github.com/daviwil/PowerShellEditorServices/commit/08799a27ea8438b4f8882a65f6c914a39ca06fbb

[2017-06-07 22:03] SeeminglyScience commented on #319
Hey @gerane, can you confirm if this is still happening for you?  I can't get it to reproduce.

[2017-06-08 23:00] daviwil commented on #491
I thought I had implemented this one fully but it turns out there's no way to get a ScriptFile instance directly from the $psEditor API.  I'll hold off on the completion of this task until 1.4 because we should have the new IWorkspace and ITextDocument interfaces implemented.

[2017-06-08 23:02] #11 closed, assigned to nobody

[2017-06-10 17:17] daviwil opened #506 "Construct $psEditor at runtime using Add-Member"
This is an early idea, so please feel free to give feedback and tell me if I sound crazy ;)

I'm gradually converting the PSES codebase over to the "feature component and provider" model which will allow us to separate certain features out into individual modules for greater flexibility.  The core extensibility mechanism is done through components written in C# but we also need to make sure that w

[2017-06-10 17:52] daviwil commented on #245
This work is done now, forgot to close it!

[2017-06-10 17:52] #245 closed

[2017-06-10 18:10] dfinke opened #507 "Pester CodeLens does not show indicators for and Untitled file"
You need to save the file and then the indicators appear about the `Describe` statement.

[2017-06-10 18:15] daviwil commented on #507
Thanks man!  This is because we're checking the file extension to see if it ends with .tests.ps1 before returning symbols, but maybe we should support authoring in untitled files too.

However, now that I think about it, you can't run a Pester test without it being saved to a file...  This does actually affect the References CodeLens provider though, so I'll make a fix for that.

[2017-06-10 18:18] dfinke commented on #507
You can F5 the file before saving and it runs the tests.

[2017-06-10 18:55] SeeminglyScience commented on #506
I don't see a big problem with it, except I would avoid `ScriptMethod` because there isn't a way (that I know of) to declare parameters or return type in a way discoverable by `Get-Member`.  I can't think of any issues with `CodeMethod` though.

Would it be better to use `Update-TypeData`? You could assign the members to a `PSTypeName`, and then add or remove groups of members at a time by adding

[2017-06-11 16:35] daviwil opened #509 "Commands module is causing errors for missing help languages"
Looks like we need to use `-ErrorAction Ignore` on the `Import-LocalizedData` call here:

https://github.com/PowerShell/PowerShellEditorServices/blob/master/module/PowerShellEditorServices/Commands/PowerShellEditorServices.Commands.psm1#L1

Ideally we'd see the errors in case there's a legitimate problem but for now the logs are getting filled with this error (probably because of another issue in

[2017-06-11 16:58] #509 closed

[2017-06-12 13:26] stefanstranger opened #511 "ISE Theme improvement"
Please change the setting for the ISE Theme so you can see the dash when interactively typing to:
[code]

Changed editor.lineHighlightBackground setting from **#94c6f7** to **#add8e6**

/Stefan

[2017-06-12 13:35] stefanstranger commented on #511
Can be deleted published in wrong repo. Check https://github.com/Microsoft/vscode/issues/28525

/Stefan

[2017-06-12 13:44] daviwil commented on #511
It actually belongs in the https://github.com/PowerShell/vscode-powershell repo :)

[2017-06-12 13:44] #511 closed

[2017-06-12 17:31] daviwil commented on #511
This issue was moved to PowerShell/vscode-powershell#864

[2017-06-20 23:18] #435 closed

[2017-06-22 14:20] CombineLabs opened #527 "Feature Request - Region support [#region myRegion]"
Not sure if was working and now broken if never added

This would be super useful to me =)

#region myRegion
#endregion

[2017-06-22 14:23] daviwil commented on #527
This is an ongoing feature request against VS Code itself, still needs to become aware of language-specific folding blocks.  Keep an eye on this issue to know when it gets resolved.

https://github.com/Microsoft/vscode/issues/3422

Closing this in favor of the other issue.  Thanks!

[2017-06-22 14:23] #527 closed

[2017-06-22 20:05] rkeithhill opened #528 "Consider a standard PowerShell name for psedit and make psedit an alias"
Perhaps we call the command `Open-FileInVSCode` or if it is editor independent - `Open-FileInEditor`?

[2017-06-22 20:14] rkeithhill opened #529 "PS Core 6.0 Beta3 doesn't load in v1.4.0"
Just installed PS Core Beta 3 on Windows 10 CU.  Fire up VSCode 1.13.0 with 1.4.0 of the PS extension, switched to PS Core 6.0 Beta 3 and got this error:
[code]

[2017-06-22 20:20] daviwil commented on #529
You're fast ;)  Luckily the team caught that for me this morning and I'll be shipping an update with a fix in an hour or so.

[2017-06-22 20:21] rkeithhill commented on #529
Is it something about `-FeatureFlags` not getting the expected empty string array arg?

[2017-06-22 20:21] daviwil commented on #529
Nah, it's that I'm not explicitly loading the Protocol DLL using Add-Type and the change they made to the AssemblyLoadContext isn't auto-loading it anymore.  It's a simple fix thankfully

[2017-06-22 20:22] rkeithhill commented on #529
Ah, so the issue I see trying to run the command from the PowerShell console is just a red herring then.  OK. I'll await the fix.  :-)

[2017-06-22 20:23] daviwil commented on #529
If you want a quick fix for now you can just edit PowerShellEditorServices.psm1 to add the Add-Type line for Protocol

[2017-06-22 20:23] rkeithhill commented on #529
FWIW I thought it was maybe related to the breaking change in powershell.exe positional parameters ie. position 0 is now -File instead of -Command.

RE the fix, I can wait.

[2017-06-22 21:29] #529 closed

[2017-06-28 14:30] daviwil commented on #528
We can definitely do that.  Once I start adding workspace cmdlets I'll alias `Open-TextDocument` (or whatever I call the noun) as `psedit`.

[2017-07-20 05:01] daviwil opened #542 "Add task provider APIs to VSCode module"
VS Code 1.14 includes a new [task provider concept](https://code.visualstudio.com/updates/v1_14#_tasks) which allows extensions to dynamcially register tasks that show up in the "Tasks: Run Task" menu.  I think this would be really useful for the following scenarios:

- Generating tasks from psake or Invoke-Build scripts (@nightroman)
- Generating tasks for Pester tests if any are detected in the

[2017-07-20 09:11] nightroman commented on #542
It sounds good. I'll create a new command similar to *New-VSCodeTask.ps1*.

[2017-07-20 09:31] nightroman commented on #542
This would be useful to know:

- How is a registered command invoked internally? By *powershell.exe* or in the current session? In the terminal or integrated console?
- Is there some conventional current location on invoking a registered command?

[2017-07-20 13:55] vGruntus opened #543 "PowerCLI module load fail to create PS drives"
When a script is loaded which will call functions from the VMware.PowerCLI module, the module fails to load correctly. This occurs only in the PowerShell Integrated Console which starts with the script, not the powershell.exe console. This does not occur if the PowerShell Integrated Console is started by opening a script, then closing the script and importing the module manually.
The error encount

[2017-07-21 15:10] nightroman commented on #542
Added the script *Register-VSCodeTask.ps1*. For now, it is available in the repository and [PSGallery](https://www.powershellgallery.com/packages/Register-VSCodeTask).

[2017-07-25 14:23] Golosok commented on #14
This issue is closed for a long time, but it doesn't really work. No symbols search, no go to definition, no itellisense for classes and methods on dot sourced files...
Any updates? Can provide screenshots of things that are not working if you need examples.

[2017-08-01 19:28] nightroman commented on #542
@daviwil How is it going?

[2017-08-03 00:41] ajansveld opened #544 "Diff view crashes language server"
The PowerShell language server crashes when using the [Hg extension](https://github.com/mrcrowl/vscode-hg) and viewing a diff. This is similar to this issue: https://github.com/PowerShell/vscode-powershell/issues/729 and probably related to #342.

From the extension's source code it looks like it is sending a uri with a scheme of 'hg'. Can we add this scheme as a short term fix (see e.g. the fix f

[2017-08-10 22:49] daviwil commented on #542
Hey Roman, sorry for the delay, I was out on vacation.  I'll be getting started back on up on this work in a couple of days.

In progress code is in the https://github.com/daviwil/PowerShellEditorServices/tree/task-provider branch, stashing it momentarily while I look into something else.

[2017-08-12 17:16] Choiyax86 opened #545 "realtek"

[2017-08-12 17:37] brwilkinson opened #546 "[VS Code Issue] $psEditor.Workspace.OpenFile() does not open some file paths E.g. OneDrive path"
I have seen this issue for some time, however I cannot determine the cause.
Using VSCode, tried both x86 and x64, current VSCode version: 1.15.0

`$psEditor.EditorServicesVersion`
1.4.1.0

1. Example that works

`New-Item -Path d:\test.ps1`

Directory: D:\
Mode                LastWriteTime         Length Name
-a----        8/12/2017   1:17 PM              0 test.ps1

`set-content -Path D:\test.ps1

[2017-08-14 21:48] daviwil commented on #545
Hi @Choiyax86, did you mean to file this issue?  If so, could you provide some more information?  Thanks!

[2017-08-14 21:49] daviwil commented on #546
Interesting, thanks for pointing this out.  I'll take a look!

[2017-08-14 22:25] daviwil commented on #544
Hey ajansveld, I'll look into getting a quick fix done for this for the next update.

[2017-08-15 15:47] ajansveld commented on #544
Thanks! I just found that the same issue occurs when using the "Compare with Saved" feature in vscode 1.15, even when the Hg extension is not installed. I will update the title accordingly.

I have attached the logs; unfortunately they do not show the file path that is causing the exception (perhaps it should?).

[vscode-powershell.zip](https://github.com/PowerShell/PowerShellEditorServices/files/

[2017-08-31 02:26] elovelan opened #549 "Upgrade to .NET Standard 2.0"
Happy to submit a PR, but want to make sure this is in the cards first. Biggest impact seems to be pulling in `Microsoft.PowerShell.SDK` `6.0.0-beta.*`, which changes the target runtime from `netstandard1.6` to `netcoreapp2.0`.

I've done the changes on macOS and they work but I've yet to see the impact this has on Windows, especially targeting `net451` as the SDK NuGet package no longer has a `ne

[2017-08-31 03:15] elovelan commented on #549
Seems PowerShell 6 needs some work first per:

https://github.com/PowerShell/PowerShell/issues/1152#issuecomment-315243874
https://github.com/PowerShell/PowerShell/issues/4374
and probably https://github.com/PowerShell/PowerShell/issues/3417 so this doesn't have to be hacked manually

should I keep this open to track this or close?

[2017-09-04 18:55] rkeithhill commented on #549
Did you see this PR from two weeks ago?

https://github.com/PowerShell/PowerShellEditorServices/pull/547

IIRC there are some dependencies (RefEmit, etc) of the PS SDK that require it to base on netcoreapp2.0 instead of netstandard2.0.

[2017-09-06 12:56] elovelan commented on #549
I did not see that PR though I did notice that there were test projects running under `netcoreapp2.0`.

I'm hoping `PowerShell` adopts the recommendation at https://github.com/PowerShell/PowerShell/issues/1152#issuecomment-319510051 or `PowerShellEditorServices` can eventually reference to upcoming reference assemblie(s).

If @daviwil is tracking this privately or has a different approach, happy t

[2017-09-06 14:05] daviwil commented on #549
Hey Eric, thanks a lot for looking into this!

I did try to get the PSES assemblies moved up to `netstandard2.0` a few weeks ago but ran into some complications with building for both that and `net451`, specifically around the current set of reference assemblies we (don't) ship for PowerShell 5.1.  Previously I was using the old 6.0.0-alpha* packages to get access to those APIs in the `net451` bui

[2017-09-06 17:42] brwilkinson commented on #546
I couldn't see a resolution here, however wanted to link it anyway.

https://github.com/Microsoft/vscode/issues/27285

[2017-09-06 17:48] daviwil commented on #546
Looks like the resolution is an [updated version of Electron in VS Code](https://github.com/Microsoft/vscode/issues/27285#issuecomment-326280416) which won't appear until VS Code 1.16 (late Sept, early Oct).

[2017-09-06 18:00] brwilkinson commented on #546
okay, yeah. . .

I tried that VSCode version linked with the backported fix, installed PowerShell Extension 1.4.2, I can confirm the issue is resolved.

`set-content -Path D:\onedrive\test.ps1 -Value test`
`Get-Content -Path D:\onedrive\test.ps1`

test

`$psEditor.Workspace.OpenFile('D:\onedrive\test.ps1')`

[2017-09-06 18:04] daviwil commented on #546
Thanks for giving it a shot!  I'll keep this bug open until a VS Code update comes out with a fix.

[2017-09-06 20:31] rkeithhill commented on #549
FWIW, in this [CH9 video](https://channel9.msdn.com/Shows/On-NET/NET-Standard-Deep-Dive) Immo recommends that for libraries you target the lowest version of netstandard that will work (ie will compile).

[2017-09-06 20:46] elovelan commented on #549
@daviwil, honestly my original motivation was due to the somewhat controversial symlink hack to get OpenSSL working on macOS. Happy to post links later if some background is needed as to why it's controversial.

@rkeithhill, can you please clarify your comment about targeting the lowest version of `netstandard`? I had expected that PSES would track https://github.com/PowerShell/PowerShell but mayb

[2017-09-06 21:53] rkeithhill commented on #549
@elovelan Start watching this [CH9 video ](https://channel9.msdn.com/Shows/On-NET/NET-Standard-Deep-Dive) at time index 28:13 for a few minutes.

[2017-09-06 22:16] daviwil commented on #549
@elovelan Definitely aware of the controversy about symlinking the OpenSSL libraries.  Is it still necessary with the latest PowerShell Core that targets netcoreapp2.0?  Seems like we wouldn't need to change anything in our code to make user of .NET Core 2.0's improvements in that area.

[2017-09-07 07:36] elovelan commented on #549
@daviwil, you are correct regarding not needing to change any code to support .NET Core improvements. There are still some issues with vscode support and documentation around OpenSSL, but that can be addressed in separate PRs. Sorry for conflating the two in my original comment, which I've updated.

While OpenSSL spurred my curiosity, my reason for pursuing the question was a genuine desire to hel

[2017-09-07 07:49] elovelan commented on #549
argh, seems there's already an issue tracking this! (should have searched with no spaces)

https://github.com/PowerShell/PowerShellEditorServices/issues/449

[2017-09-07 07:49] #549 closed

[2017-09-07 07:51] elovelan opened #550 "Update docs for OpenSSL"
Now the PS6-beta is out for macOS, OpenSSL symlink is no longer needed. Update docs

Note: this is a reminder for me to do this

[2017-09-07 18:05] daviwil commented on #396
See this comment for possible fix: https://github.com/PowerShell/vscode-powershell/issues/972#issuecomment-327878407

[2017-09-09 00:46] rkeithhill commented on #549
@elovelan

That is from the perspective of the application. The key is the "or lower version" part.  If the app targets .NET Core 1.0 it can use a netstandard 1.6 (or lower) library.  If an app targets `.NET Core 2.0`, it can use a netstandard 2.0 (**or lower**) library which includes libraries built against `netstandard1.6`.

[2017-09-11 22:53] elovelan commented on #549
@rkeithhill, I'm still not understanding your point, I'm sorry. I suspect we may be talking about different things.

Here's what I'm wondering:

Given [Microsoft.PowerShell.SDK](https://powershell.myget.org/feed/powershell-core/package/nuget/Microsoft.PowerShell.SDK)'s and [System.Management.Automation](https://powershell.myget.org/feed/powershell-core/package/nuget/System.Management.Automation)'s

[2017-09-26 13:19] duffney opened #551 "PowerShell Debug adapter terminates when using attach to host process"
When using the PowerShell attach to process option in the debugger the debugger adapter terminates unexpectedly. The integrated powershell terminal also terminates unexpectedly preventing you from using the debugger with other PowerShell process.

![code_2017-09-24_13-06-29](https://user-images.githubusercontent.com/8146181/30862347-642fdcb6-a293-11e7-97a7-4a5295c3471c.png)

[2017-09-26 14:44] rkeithhill commented on #551
I believe the offending exception originates from [here](https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Session/PowerShellContext.cs#L456).  A task result is being set (apparently a second time) and an InvalidOpException happens - the ex message is:
[code]

[2017-09-28 15:05] dlwyatt opened #552 "Allow customization of code formatting rules"
In this block of code: https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices.Protocol/Server/LanguageServerSettings.cs#L209

The list of PSScriptAnalyzer rules used to perform the Formatting function is hard-coded.  It would be nice to have a way of extending this list to include custom rules.

[2017-09-28 15:18] rkeithhill commented on #552
You can customize the rules by adding a PSScriptAnalyzerSettings.psd1 file to your workspace e.g.:
[code]
Then in the workspace's `.vscode\settings.json` file add:
[code]
@kapilmb Also added a way to enable/disable rules via the VSCode UI with the command `PowerShell: Select PSScriptAnalyzer Rules`.

[2017-09-28 17:11] daviwil commented on #552
I don't think changing the PSScriptAnalyzer settings file will affect code formatting though, that gets run with a different configuration (Kapil can correct me if I'm wrong).  It'd be nice if users could include their own formatting rules though, so we'll need to find a way to make that work.

[2017-09-28 18:42] dlwyatt commented on #552
On a related note, if the "remove trailing whitespace" rule is common / popular enough, I could just submit a PR to add it to the defaults.  Extensibility is still nice to have, though :)

[2017-09-28 18:46] kapilmb commented on #552
I think I would use such a rule and would be a good addition to the current set.

[2017-09-28 19:58] dlwyatt commented on #552
Submitted.  Once it's merged and a new version of script analyzer is released, will do another PR to update this repo with the new rule.

[2017-09-30 00:53] rkeithhill commented on #552
BTW there is a VSCode setting folks should use with PowerShell files:
[code]
I use this and never run into this issue in VSCode.  :-)

[2017-10-02 14:34] dlwyatt commented on #552
Well holy crap, Keith.  I completely missed that one!  :)

[2017-10-19 05:51] WernerMairl opened #554 "Linux/Ubuntu - Issue Triage"
Hi
Preface:
I'm a old Windows/Dotnet/Powershell Developer now working on Linux by using all that core xplat technologies (VS-Code, Powershell-Core, dotnet-core).
Working with VS-Code and Powershell on Ubuntu it seems that this technology stack is not used by a lot of people. I have a lot of problems but i see no existing issues about this inside the GitHub Repositories.
I hope we can push the qual

[2017-10-19 06:15] rkeithhill commented on #554
Thanks for the great bug report!  Some of this is obvious like we shouldn't be searching for DSC with a path like `C:\...`.   The other stuff will take more digging into.

[2017-10-21 03:51] rkeithhill opened #555 "ParameterBindingValidationException when you create a new file and set file type to PowerShell"
This happens on VSCode 1.17.2 on Windows 10 FCU with Windows PowerShell 5.1.

Open a new VSCode session with no workspace open - configure the extension to start the VS debugger.
Create a new file.
Set the file's type to PowerShell.
The debugger will break at this point with the specified exception:

![image](https://user-images.githubusercontent.com/5177512/31847844-b12e2c24-b5e0-11e7-87ba-cf3ef0

[2017-10-22 07:37] rkeithhill commented on #554
I've got a dev environment set up on Ubuntu 16.04 now.  I can repro the problem and I think I have a fix but need to run it by @daviwil.

[2017-10-22 20:31] rkeithhill opened #558 "Eliminate build warnings - possible update some pkg refs"
When I build, I see a number of NU1603 warnings like this:
[code]
I also note that the project files are referencing a 10 month old version of the MS.PS.Sdk -alpha13.

Should these be updated to a more recent version?

[2017-10-23 17:24] #555 closed

[2017-10-23 17:36] daviwil commented on #558
I think I am building against the older alpha package for the PS SDK because I need access to PS 5.1 APIs that aren't available in the PS 5.0 SDK package on NuGet.  I tried changing to a more up to date version but ran into trouble.  You can certainly give it a shot if you like!

[2017-10-23 17:36] #545 closed

[2017-10-24 03:24] rkeithhill commented on #558
I think we'd need to wait until there is a PowerShellStandard.Library v5.1.  At that time, do you think we get away with supporting v3 and v5.1 in addition to PS Core 6 i.e. dropping support for v4 and v5.0?

[2017-10-25 11:30] WernerMairl commented on #554
Ok, i see that the PR #557 was closed for technical reasons....

Now i try to find a deeper understanding of the code behind the problem - some stupid question here - any hep is welcome

basically we are talking about the following piece of code (with the fix)

[code]

basic intent that i can see:
Task<ConsoleKeyInfo> returns (as completed) with result if there is a key pressed by the user.
it ret

[2017-10-27 13:47] #396 closed

[2017-10-27 14:21] daviwil commented on #544
I've got a fix prepared for this, will go out with today's update! Closing it as a duplicate of #342.

[2017-10-27 14:21] #544 closed

[2017-10-27 14:36] #342 closed

[2017-10-27 15:04] daviwil commented on #546
I think VS Code team fixed this one a while back.

[2017-10-27 15:04] #546 closed

[2017-10-27 15:08] brwilkinson commented on #546
Thanks @daviwil yeah all good. Still looking for a .saveas( ) however.

[2017-10-28 08:17] kborowinski commented on #551
@rkeithhill @daviwil : Unfortunately it looks like the _attach to process_ is still crashing _PowerShellEditorServices_. I get _ProtocolEndpoint_UnhandledException_ in _EditorServicesHost.cs_ with PS 1.5.0 either on VSCode 1.17.2 or latest VSCode 1.18.0 insiders version. Logs attached.

[vsc_1_17_2_ps_1_5_0_logs.zip](https://github.com/PowerShell/vscode-powershell/files/1423999/vsc_1_17_2_ps_1_5_0

[2017-10-28 19:52] rkeithhill commented on #551
Yup, that's why this issue hasn't been closed.  We know where the bug is but are still looking for a way to fix the bug without breaking other behaviors.

[2017-10-31 20:40] SteveL-MSFT opened #566 "Add multi-root support"
Enable EditorServices to work with https://github.com/Microsoft/vscode/issues/396

[2017-11-02 07:18] codykonior opened #567 "Microsoft.PowerShell.EditorServices.ScriptFile.ValidatePosition out of range"
Hi,

I'm using VS Code 1.17.2, VS Code PowerShell 1.5.0, which bundles 1.5.0 of this module. When I trigger debugging, my debug sessions often terminate unexpectedly along with my PowerShell terminals. This is on Windows Server 2012 R2.

[code]

Here's the relevant part of the logs (there's some lead up but it's at the end):

[code]

That ValidatePosition part is causing everything to crash - I've

[2017-11-02 07:23] rkeithhill commented on #567
Thanks for reporting this.

[2017-11-04 23:32] rkeithhill opened #569 "Funky path causing PSES crash"
I've been editing the PowerShell build.psm1 file (PowerShell folder open in VSCode) and I've been noticing PSES crash after some period of time.

This is on VSCode 1.17.2 x64, PSES 1.5.0 on Windows 10 FCU.

Also, I might have been editing in one of the Git diff windows.

Here's the relevant part of the log:
[code]

[2017-11-05 02:24] rkeithhill opened #570 "Calling Get-Help with the 'ShowWindow' parameter throws an error in the integrated console"
### System Details

- Operating system name and version:
Windows 10 Enterprise Version 1607 (OS Build 14393.1066)

[code]

### Issue Description
Not sure if this is supposed to work, but ...

Calling Get-Help with the 'ShowWindow' parameter throws an error in the integrated console
[code]

### Attached Logs
[logs.zip](https://github.com/PowerShell/vscode-powershell/files/1007253/logs.zip)

[2017-11-05 02:38] rkeithhill commented on #570
This is error because PSES returns `null` for `$host.PrivateData` (that's the default impl) and the PowerShell code is doing this:

https://github.com/PowerShell/PowerShell/blob/52569380c7d2bcf4060a6618e3cf81dcd320041c/src/Microsoft.PowerShell.GraphicalHost/commandHelpers/ShowCommandHelper.cs#L720-L736

Note that it is not null checking `PrivateData`.  The fix is to simply return an empty `PSObjec

[2017-11-05 02:52] rkeithhill commented on #567
Probably a bit late know but do you recall which file you were editing and what was on line 174?

[code]

[2017-11-05 03:48] rkeithhill opened #572 "System.InvalidOperation exception from PSSA"
I've been debugging other issues in PSES and I'm seeing multiple instances of this exception.  Can this be safely ignored or is there a problem here:

![image](https://user-images.githubusercontent.com/5177512/32411787-c49c3452-c1a9-11e7-8144-33ff50f27ce1.png)

![image](https://user-images.githubusercontent.com/5177512/32411788-c9165828-c1a9-11e7-99e8-8ffee656f8dc.png)

[2017-11-05 04:59] rkeithhill opened #574 "Do not attempt to set breakpoints on files extensions other than .ps1 or .psm1"
Got this while trying to debug a PS script in the PowerShell repo where I had previously been debugging some C# code.  So I had a mix of .cs and .ps1 breakpoints.  I noticed this in my log file:
[code]
Seems pretty obvious that we shouldn't bother to set PowerShell breakpoints on these other file types.

[2017-11-08 23:41] #570 closed

[2017-11-09 04:57] rkeithhill opened #577 "Clear breakpoints when an interactive debug session ends"
Right now we leave breakpoints set which is weird when you run commands from PSIC and the console indicates you've hit a breakpoint yet you're not debugging.

[2017-11-09 10:52] ryangribble commented on #554
I've gotten this same problem on OSX for a few releases now and somehow only just found these logged issues of others experiencing it

[2017-11-10 16:40] #574 closed

[2017-11-14 06:21] rkeithhill commented on #567
I think this will be fixed in the upcoming 1.5.1 release.  If you encounter the same issue again, please re-open this issue.

[2017-11-14 06:21] #567 closed

[2017-11-23 00:40] jackmusick commented on #554
I'd like to confirm I'm still having this issue. [Here's my original post](https://github.com/PowerShell/vscode-powershell/issues/987). I have tested this on brand new installs of both macOS and Ubuntu with the same results.

[2017-12-04 17:41] brettmillerb opened #582 "Very Large String crashes PS Editor Services"
Started the Advent of Code 2017 challenge and pasted in the input string into a .ps1 editor windows.

This crashed Editor Services.

Was able to reproduce.

**Input string:** https://adventofcode.com/2017/day/1/input

**Log**
04/12/2017 17:33:37 [NORMAL] - Method "StartLogging" at line 144 of C:\projects\powershelleditorservices\src\PowerShellEditorServices.Host\EditorServicesHost.cs

    PowerShe

[2017-12-04 18:16] tylerl0706 commented on #582
I'll look into this. I seem to only be able to repro when that string is a number.

For example, take the input number:
[code]
If you wrap it in `"` the issue no longer repros.

[2017-12-05 04:27] tylerl0706 commented on #582
Update - still looking into this.

Here's what I've found out. I'm pretty sure the issue exists here:
https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Workspace/ScriptRegion.cs#L86
which goes up to:
https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Workspace/ScriptFile.cs#L584

I've got a repro in PowerShe

[2017-12-05 06:35] rkeithhill commented on #582
This is not something you'd expect but accessing the IScriptExtent.Text property generates an exception in this case.  We should catch that exception but it seems like a bug in PowerShell to me.

[2017-12-05 07:14] tylerl0706 commented on #582
@rkeithhill on Windows PowerShell the Text property has nothing in it. The full extent:

[code]

[2017-12-05 13:18] SeeminglyScience commented on #582
PowerShell ignores exceptions from properties. You can see it if you call the getter directly with `$extent.get_Text()`

[2017-12-05 16:16] rkeithhill commented on #582
Yup. I was staring at the impl of ScriptRegion.Create in PSES and thinking WTF, there is no call to Substring in this method.  That's when I realized it had to be one of IScriptExtent properties.  Once I repro'd the error under the VS debugger, it became obvious it was the Text property.

[2017-12-05 17:01] tylerl0706 commented on #582
Thanks for that @SeeminglyScience 😄

So to figure out what Text should be, I used the string: `$f = {` for a case where parseErrors has something in it but does not cause a crash.

In this case, Text = `{`

repro good case:
[code]
Note, at this point `$parseErrors[0].Extent` is:
[code]
And `ScriptRegion.Create` succeeds:
[code]

Looks like we just need to catch that error. I'm guessing that when w

[2017-12-06 23:49] #582 closed

[2017-12-07 18:58] tylerl0706 commented on #170
Hey @dfinke,

I just gave the repro a try in VSCode and was able get intellisense with a `ctrl+SPACE`

![image](https://user-images.githubusercontent.com/2644648/33733079-5f0a8c6c-db3d-11e7-820d-2fa877cc2cb8.png)

Can you give it another try and see what you find? It's looking like this issue might be fixed.

[2017-12-07 19:45] tylerl0706 commented on #95
Hey @rkeithhill + @daviwil, any idea where we left off with this issue? Looks like that vscode issue was closed but there still seems to be an action item for us?

[2017-12-07 20:11] tylerl0706 commented on #58
Circling back to this. If I modify the value in the debug console and step over in the debugger, the value does change:

![image](https://user-images.githubusercontent.com/2644648/33736194-8afd1a52-db46-11e7-8455-a7ada7f51e73.png)

Is this what this issue was about or was it more about changing the variable and have it immediately updated in the debug pane?

[2017-12-07 20:13] daviwil commented on #58
Right, they don't give us a way to notify the UI that the variable has changed "out of band" so there's currently not a way to accomplish this (that I'm aware of).

[2017-12-07 20:22] tylerl0706 commented on #461
@daviwil looks like we're beyond this issue as Plaster 1.1.3 ships with the vscode extension. Is this about something else?

[2017-12-07 20:25] tylerl0706 commented on #33
Looks like this work is done 😄
![image](https://user-images.githubusercontent.com/2644648/33737035-a6e6aa28-db49-11e7-809b-c1e3a89df079.png)

Please reopen if you see otherwise.

[2017-12-07 20:25] #33 closed

[2017-12-07 20:27] daviwil commented on #461
Nope, just didn't remember to close it.

[2017-12-07 20:27] #461 closed

[2017-12-07 20:45] tylerl0706 commented on #319
Hey @gerane, I'm going to close this issue since it's been inactive for some time now. If you're still seeing the issue, let me know and we can reopen!

[2017-12-07 20:45] #319 closed

[2017-12-07 21:34] tylerl0706 commented on #224
Just doing some issue clean up... based on the title, it sounds like #254 fixed the issue. The top level cmd to open the profile is a good idea though - we should have an issue open that tracks just that. Thoughts?

[2017-12-07 22:01] tylerl0706 commented on #238
I think this is fixed now.

![image](https://user-images.githubusercontent.com/2644648/33740787-b0ff03a4-db56-11e7-81cc-06d9333c9834.png)

![image](https://user-images.githubusercontent.com/2644648/33740800-bed5cf8a-db56-11e7-86d0-a75f59a54c9a.png)

If you see any issues, feel free to reach out!

[2017-12-07 22:01] #238 closed

[2017-12-07 22:18] tylerl0706 commented on #208
This is still an issue, unfortunately. Should we open an issue on VSCode or just close this, you think?

[2017-12-07 22:27] tylerl0706 commented on #390
Hey @gerane, can you still repro this? This issue has been quiet for some time and I'd love to close it if it's no longer an issue!

[2017-12-07 22:32] tylerl0706 commented on #171
Going through the issues...

So @daviwil's first bullet point is already done "List and install modules from the PowerShell Gallery (and any other registered repository)"

The other 2, I don't think they're implemented. I think the "publish module" sounds great as a VSCode Task as @rkeithhill mentioned though. The hardest one I think will be the middle bullet point since the Gallery doesn't have a

[2017-12-07 22:41] tylerl0706 commented on #193
I believe this is fixed now. However, there's one open comment in the other issue we need to hear about.

[2017-12-08 05:57] rkeithhill commented on #95
I just tried the repro and I don't see the problem anymore.  I'm closing it.

[2017-12-08 05:57] #95 closed

[2017-12-08 06:02] rkeithhill commented on #208
I don't there is anything we can do about this, so I'm closing it.

[2017-12-08 06:02] #208 closed

[2017-12-11 18:56] tylerl0706 commented on #227
@daviwil we have this visual indicator in the status bar now:
![image](https://user-images.githubusercontent.com/2644648/33848136-b2b5f5a0-de61-11e7-8198-0bfc28f25f1a.png)

Is that enough of an indicator that PSES is starting up or is that separate?

[2017-12-11 18:59] tylerl0706 commented on #289
@daviwil Is this work relevant anymore since PSES ships along with the extension so that people can install the extension on locked down environments?

[2017-12-13 14:33] joejank commented on #554
[EditorServices.log](https://github.com/PowerShell/PowerShellEditorServices/files/1555809/EditorServices.log)
I am having this same issue and attaching the above log in the hope that this move this issue forward.

[2017-12-14 01:56] daviwil commented on #289
Not exactly as relevant as it was previously.  My plan for the upcoming ide-powershell extension in Atom is to download PSES releases dynamically without shipping a bundled PSES, but I haven't decided how I want to do that yet.  I think it could be nice to include some default behavior in Start-EditorServices.ps1 which can be used across any editor that leverages PSES  (Vim is another example if y

[2017-12-14 19:29] tylerl0706 commented on #212
Spoke to @daviwil offline about this. I don't think we have a need for this right now but if you see otherwise, let me know and we can absolutely reconsider!

[2017-12-14 19:29] #212 closed

[2017-12-14 19:33] tylerl0706 commented on #42
@adamdriscoll Do you still need this from PSES? There seems to be more official clients (especially for VS) for the language server protocol now.

[2017-12-14 19:35] adamdriscoll commented on #42
No. I'd much rather just use the language server protocol stuff.

[2017-12-14 19:36] #42 closed

[2017-12-14 21:15] rkeithhill opened #584 "Update for VSCode 1.19 debug protocol enhancements"
See https://code.visualstudio.com/updates/v1_19#_debugging

[2017-12-19 16:17] TylerLeonhardt opened #585 "[PSCore Align] Update contributing docs with top-level CONTRIBUTING.md"
Opened the vscode equiv https://github.com/PowerShell/vscode-powershell/issues/1126 with @rkeithhill.

What we want:

A CONTRIBUTING.md being the top-level contributing guide (coding style, how to PR, expectations for a PR, etc) and then that can link to how to build and test the extension.

[2017-12-19 16:19] tylerl0706 opened #586 "[PSCore Align] Adopt build.ps1 build concept"
vscode equiv here: https://github.com/PowerShell/vscode-powershell/issues/1127

PowerShell Core has this concept of a build.psm1 file that contains a bunch of functions for building and testing PSCore: https://github.com/PowerShell/PowerShell/blob/master/build.psm1

We should align with those processes so that it's consistent across PowerShell repos.

We can still continue to use InvokeBuild, but

[2017-12-19 16:23] tylerl0706 opened #587 "[PSCore Align] Update/Add label names to include Area-*, Issue-*, Resolution-*"
vscode-powershell already does this pretty well.

We need to update the PSES issue labels to mirror what PSCore is doing. This incudes modifying and adding labels for:

Area-*   # used for determining the area of the issue
Issue-*  # used for determining the type of issue - bug, enhancement, question, etc
Resolution-* # used for determining the type of resolution - fixed, no repro, external, dupe,

[2017-12-19 16:25] tylerl0706 commented on #585
right now, our docs are in the README and in http://powershell.github.io/PowerShellEditorServices/CONTRIBUTING.html

[2017-12-23 15:27] ant-druha commented on #274
Hi guys. Sorry to jump into this thread but I'm also interested in adopting LSP for enhancing PowerShell support to IntelliJ editor in [this plugin](https://plugins.jetbrains.com/plugin/10249). Would you be so kind to advise me on up to date resources for implementing it via Host Process JSON-based API. Will it be ok for me to use the API, provided in [Using Host Process](http://powershell.github.

[2017-12-26 17:50] nightroman commented on #258
This little feature would be very useful. Is it still on the radars?

I would use it right away for `Invoke-TaskFromVSCode` and make some Invoke-Build users a little bit happier.

[2017-12-28 17:51] ant-druha opened #589 ""Parameter name: Position 25:16 is outside of the column range of 1 to 15." exception on "textDocument/didChange""
Hello dear team. I'm trying to adopt PS Editor Service for use with the LSP, via the [intellij-lsp](https://github.com/gtache/intellij-lsp/tree/master/intellij-lsp) plugin (which implements [LSP4J](https://github.com/eclipse/lsp4j) - Java binding for the LSP for IntelliJ platform).

I'm launching the service from ps console with the command:
[code]

But at some point (when I do any change to my .p

[2017-12-28 18:14] rkeithhill commented on #589
From the PSES source (LanguageServer.GetFileChangeDetails():
[code]
Make sure your document positions are zero-based because, PSES internally adds 1 so that it matches up with the PowerShell AST which uses one-based positions in its extents.

[2017-12-28 19:32] tylerl0706 commented on #258
@nightroman it's on my radar now 😃 I'll look into this.

[2017-12-28 23:18] tylerl0706 commented on #258
@daviwil + @rkeithhill: It looks like `$psEditor` doesn't have a concept of `$psEditor.CurrentFile`. Is there another way to do it at the moment (via `Window` or `Workspace`) or would the addition of such a property (`CurrentFile`) need to happen as well as giving the FileContext API a Save() and IsSaved/IsModified?

[2017-12-28 23:32] tylerl0706 commented on #258
Ah. `$psEditor.GetEditorContext().CurrentFile` is the way to do it. 👍

[2017-12-29 05:46] tylerl0706 commented on #258
I have half of this in a PR so far:
https://github.com/PowerShell/vscode-powershell/pull/1139
https://github.com/PowerShell/PowerShellEditorServices/pull/590

I need to think about the IsModified method a bit more.

[2017-12-29 06:04] nightroman commented on #258
@tylerl0706 Thank you!

If `Save` does not actually save to disk if the file is not modified then it's not a big deal for now.
But `IsModified` is useful on its own, indeed (though not in my scenario).

[2017-12-29 06:51] tylerl0706 commented on #258
From a PSES perspective, it doesn't actually save to disk at all. It simply sends the "editor/saveFile" event to the editor - in our case, vscode. VSCode then handles the saving using the extensions API.

I can add an additional check to see if the file is dirty before it actually calls the VSCode save function.

Would that do what you need in the short term?

I'm still thinking on `IsModified`

[2017-12-29 10:43] nightroman commented on #258
Yes, this will do the trick in the short term.

[2017-12-29 14:19] ant-druha commented on #589
Appreciate the prompt response. The document positions are zero-based.

I see that the max column [is computed](https://github.com/PowerShell/PowerShellEditorServices/blob/cb68635231ecd92412527e6e38306b1143ac6f73/src/PowerShellEditorServices/Workspace/ScriptFile.cs#L275) like:
[code]
I don't quite understand how the [`fileChange.EndOffset`](https://github.com/PowerShell/PowerShellEditorServices/bl

[2017-12-29 22:30] tylerl0706 commented on #274
@daviwil would be the best person to answer this.

[2017-12-30 09:35] ant-druha commented on #274
Thank you @tylerl0706. I've checked now the [all supported message types](https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs#L83). And now trying it with [intellij-lsp](https://github.com/gtache/intellij-lsp/tree/master/intellij-lsp) plugin and see the communication somehow works, though there are issues like [589](http

[2017-12-30 14:14] SeeminglyScience opened #591 "Test ServiceLoadsProfilesOnDemand fails with profile.ps1 present"
I still need to determine if it's something in my profile specifically or just the the fact that it's there.  In the mean time, if you run into this while building the project just rename your `profile.ps1` before starting the build.

[2017-12-30 18:46] SeeminglyScience opened #593 "Stepping into Import-LocalizedData crashes on Linux"
Looks like it attempts to create a temporary file to step into when it crashes.  Windows does this as well, but is successful.

It's throwing a unhandled `NullReferenceException` in the `RemoteFileManager` because the computer name isn't in the runspace session details.

If I remember correctly, it throws [here](https://github.com/PowerShell/PowerShellEditorServices/blob/3ed440643c8e6098dc18f2977c

[2017-12-31 02:18] rkeithhill commented on #589
It is expected to be less than current line length **+ 1**.  See the comment:
[code]

[2017-12-31 13:23] dee-see commented on #17
I'd like to start working on this. I won't be very quick, but seeing as it has been untouched for over 2 years that should not be a big problem.

I have a question about the desired behavior. It's simple if the dot sourced script is a full path, however let's assume that we have `. ./SomeScript.ps1` in our file. `SomeScript` could be anywhere depending on the working directory or the `Set-Location

[2018-01-01 00:22] tylerl0706 commented on #17
I think that's the correct approach.

There will be some scenarios where we will be unable to find the file like in this example:
`. "$myComplexPath/SomeScript.ps1" `

If `myComplexPath` is not set correctly at the time of "go to definition", we have no choice but to fail gracefully (aka do nothing).

[2018-01-01 00:24] tylerl0706 commented on #17
So full paths and paths that resolve correctly from the current location PSES is at is probably good enough - and I think a lot of folks would be happy to see this!

[2018-01-01 00:29] rkeithhill commented on #17
We should be able to at least handle `$PSScriptRoot` in a dot sourced path or this feature will be kind of worthless.  95% of the dot sourcing I do is either with `$PSScriptRoot` directly or a path relative to it.

[2018-01-01 01:12] dee-see commented on #17
Alright sounds good, thanks. I'll give it a go.

[2018-01-02 19:36] ant-druha commented on #589
After I've looked at `ApplyChange` method usages closely I've realised that the the client sends not correct start/end parameters. I've changed it now, and it seems to be working better. Though there are still errors in some cases, which I'm trying to debug now (not very easy to get the script content from the server side).
Thank you for your replies!

[2018-01-03 14:19] ant-druha commented on #589
Got it all now, it is because of tabs: IJ logical column position takes **tab length** into account. But the column values are justified by the line length.
I this we can close this:) Thanks again.

[2018-01-03 17:59] tylerl0706 commented on #589
Awesome! Glad you're unblocked. Let us know when you have a demo of the IJ extension that uses PSES. I'd love to try it out and provide feedback 🙂

[2018-01-03 18:00] #589 closed

[2018-01-04 22:08] tylerl0706 opened #597 "Need to handle the different Get-Content calls for different versions of pswh"
PSCore removed `-Encoding Byte` for `-AsByteStream`.

This line:
https://github.com/PowerShell/PowerShellEditorServices/blob/0f63e5c06e35f7445cb37734080c57d6a3620976/src/PowerShellEditorServices/Session/RemoteFileManager.cs#L50

We should handle this like:
[code]
This will fix at least 1 bug with psedit over ssh. This might actually fix psedit for PSCore on Windows.

[2018-01-04 22:16] rkeithhill commented on #597
Good catch!

[2018-01-04 22:18] tylerl0706 commented on #597
@rkeithhill darn those PowerShell folks for breaking changes :P

[2018-01-05 03:26] tylerl0706 commented on #597
But wait, there's more to this "psedit over ssh" bug... Check this out:
https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Session/RemoteFileManager.cs#L356-L368

Notice the use of `computerName`?

On macOS and Linux, `$env:ComputerName` is null. I'm thinking we can just have a null check there and set it to some other unique identifier. Anyone have any

[2018-01-05 03:45] rkeithhill commented on #597
Try this:
[code]
But you have to check for ConnectionInfo eq $null.  if it is, then use `localhost`.

[2018-01-05 06:36] tylerl0706 commented on #597
Where should I try that, exactly?

Here? https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Session/SessionDetails.cs#L55-L64

That's where the ComputerName gets set and ComputerName seems to be used throughout PSES. I worry about situations like this:
https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices.Protoc

[2018-01-05 18:42] rkeithhill commented on #597
Yes, modify that to something like:
[code]

[2018-01-05 23:06] tylerl0706 opened #600 "Scour the code base for misc cross-plat issues"
* casing of env vars
* file system casing
* use of `C:\`
etc

[2018-01-06 01:55] TylerLeonhardt opened #602 "Handle Misc default Requests - i.e. initialize, cancelRequest"
We are getting Warnings thrown for not handling misc Requests that, it would seem, VSCode itself sends. We should handle these Requests.

So far we've seen:
`cancelRequest`
`initialize`

The cancelRequest one would be good for perf for sure.

[2018-01-06 19:35] #554 closed

[2018-01-06 19:45] SeeminglyScience opened #604 "Tests needed for ReadKeyAsync changes"
Opening this issue as a reminder that tests need to be created for the changes to our internal `ReadKeyAsync` method.  From PR #592

[2018-01-07 00:48] realonedet commented on #551
I am still experiencing this issue as well, i have tried new versions released through new test builds, still getting the error referenced here, very frustrating, is our only recourse to wait for an updated build of the plugin ?

[2018-01-07 01:23] SeeminglyScience commented on #551
I suspect this will be fixed with all the changes PSReadLine brings.  A large amount of logic around how we execute commands had to be refactored to handle nested prompts.  No solid eta yet, but I would hold off attempting to fix this.  Current progress is in [this branch](https://github.com/SeeminglyScience/PowerShellEditorServices/tree/enable-psreadline).

[2018-01-07 07:09] tylerl0706 commented on #604
:) thanks!

[2018-01-08 20:23] #597 closed

[2018-01-10 13:10] itadder opened #608 "Support for VIM as shown in Powershell Azure Cloud Shell"
https://docs.microsoft.com/en-us/azure/cloud-shell/media/features-powershell/powershell-editing-vim.png
Microsoft says in their article "Rich PowerShell script editing
When you use VIM to edit PowerShell files (.ps1,.psm1,.psd1), you automatically get syntax highlighting and IntelliSense support. IntelliSense support is implemented via a vim-plugin that interacts with a local instance of PowerShel

[2018-01-10 16:46] SteveL-MSFT commented on #608
The VIM-plugin to integrate with PSEditorServices hasn't been published yet outside of CloudShell.  I expect it to be published as OSS in its own repo no later than next month.

[2018-01-10 19:06] tylerl0706 commented on #608
As Steve said, it's on our radar! I'll close this now as "answered" 👍

[2018-01-10 19:06] #608 closed

[2018-01-10 19:10] tylerl0706 commented on #593
Is this with debugging?

[2018-01-10 19:13] tylerl0706 commented on #591
Thanks Patrick! So you're saying this test fails if there's a profile.ps1 present? Is that actually a `profile.ps1` or does that also include the Vscode profile - for example?

[2018-01-10 19:15] tylerl0706 commented on #586
All of the discussion has been in the VSCode issue.

[2018-01-10 19:19] tylerl0706 commented on #577
I'm a bit confused with this. You're saying the console says you've hit a breakpoint even though you're just running commands in the PSIC - not debugging? Is that right?

[2018-01-10 19:23] tylerl0706 commented on #572
@kapilmb doesn't work on the team anymore so I don't think he'll have cycles to look at this. Do you think you could give me a little bit more background?

[2018-01-10 19:24] tylerl0706 commented on #569
Interesting! Thanks Keith!

[2018-01-10 19:38] tylerl0706 commented on #566
Thanks Steve! This is a good one for sure. I think this prompts a question of... what does support for this look like?

I think most of this support revolves around the integrated console. When you switch to a file in another root, should the console switch to that directory? Or perhaps there should be a PowerShell session - per root?

@daviwil @SeeminglyScience @rkeithhill - any thoughts?

[2018-01-10 19:41] SteveL-MSFT commented on #558
PS Std 5.1 Library should be published no later than end of this month.  Is there data to suggest v3 or v4 users?  5.1 is a mandatory update over 5.0 to get support so dropping 5.0 makes sense.

[2018-01-10 19:42] daviwil commented on #566
I can take this on, I know what's involved.  It's also a good opportunity to implement multi-root workspace support for Atom's `atom-languageclient` :)

[2018-01-10 19:49] tylerl0706 commented on #550
@elovelan Hey there! Are you talking about this section? https://github.com/PowerShell/PowerShellEditorServices#1-on-linux-or-macos-install-powershell-core

[2018-01-10 19:52] tylerl0706 commented on #543
@vGruntus Thanks for this! Sorry for the delay - It's been sometime since this issue was opened. Can you confirm it's still happening?

[2018-01-10 20:02] tylerl0706 commented on #528
This looks like a low hanging fruit.

[2018-01-10 20:11] rkeithhill commented on #572
I probably should have submitted this to the PSSA project since it is a bug in the PSSA dll.

[2018-01-10 20:18] daviwil commented on #528
It'll be easy but we should probably discuss naming and whatnot first

[2018-01-10 21:42] tylerl0706 commented on #507
@daviwil do you think you could elaborate on how it affects the References CodeLens provider?

[2018-01-10 21:53] tylerl0706 commented on #528
I like `Open-FileInEditor` since it's not specific to VSCode but it's specific to say that the file will open in the editor.

Thoughts?

[2018-01-10 21:54] tylerl0706 commented on #566
You can take the @daviwil from the PSES... but you can't take the PSES from the @daviwil. 😄

[2018-01-10 22:01] tylerl0706 commented on #506
This is an interesting idea that I think we should still discuss. Correct me if I'm wrong, but "Microsoft.PowerShell.EditorServices.VSCode" exists now, right? And is used to render HTML in VSCode?

[2018-01-10 22:04] tylerl0706 commented on #495
I can't seem to repro this - is it cool if I close it?

[2018-01-10 22:11] daviwil commented on #495
Close it for now, if anyone else sees it we can reopen.

[2018-01-10 22:26] daviwil commented on #528
I think we need a more noun-centric approach, like `WorkspaceFile` or `TextDocument` so that there can be `Open`, `New`, `Save`, `Close,` etc verbs.  I think at the time I filed this I was trying to make up my mind whether I wanted to use the Language Server Protocol nomenclature of `TextDocument` or something else.  I suppose it could be `EditorFile`.

@rkeithhill and @SeeminglyScience, any other

[2018-01-10 22:30] daviwil commented on #506
I've actually moved away from this line of thinking after filing this.  Instead of adding a bunch of stuff onto $psEditor in undiscoverable ways, it makes more sense to have extension modules expose PowerShell commands.  The PowerShellEditorServices.VSCode module is the first example of such an API extension.  I think this issue can be closed for now.

[2018-01-10 22:30] #506 closed

[2018-01-10 22:31] itadder commented on #608
Thanks for the update

[2018-01-11 13:08] SeeminglyScience commented on #528
I think it's important that `Editor` be somewhere in the noun. My vote goes to `EditorFile` or maybe `EditorDocument` but discoverability might not be great on the latter.  I really like `TextDocument` as well but I feel like it only makes sense if you're familiar with the language server which won't be the case for most.

[2018-01-11 13:11] SeeminglyScience commented on #593
@tylerl0706 Yeah, stepping into meaning pressing `F11` when the debugger is stopped on the `Import-LocalizedData` line.

But, the crash was because `ComputerName` was null.  Chances are you're unable to repo this because you already fixed it ;)

[2018-01-11 13:14] SeeminglyScience commented on #591
Specifically `profile.ps1`.  The test uses a different host along with a profile for that custom host so the VSCode one doesn't come into play.

I'm not sure it's any time a `profile.ps1` is present or if it's because I have an unreasonably complicated profile ;)

I'll try to get that nailed down later, just wanted to get this issue up as information in case anyone building on their own failed on

[2018-01-11 13:35] SeeminglyScience commented on #507
@tylerl0706 [This if statement](https://github.com/PowerShell/PowerShellEditorServices/blob/33cb42140d23ac94c28d325d242899b9a39aae7e/src/PowerShellEditorServices/Symbols/ScriptDocumentSymbolProvider.cs#L36) needs to support untitled tabs that contain PowerShell.  The main difficulty would be determining that it's definitely PowerShell.  Trying to run that on untitled tabs with different languages

[2018-01-11 14:02] SeeminglyScience commented on #558
Maybe this discussion should be a separate issue, but I think there's a strong case for dropping 3/4 support.

There's two bugs I can think of off the top of my head that I've ran into testing PSv3 that haven't been reported yet.

1. The script we use to find and replace aliases uses the `Where` magic method that was added in 4.  Not a big deal, I can see it not being reported.

1. We use nested p

[2018-01-11 15:50] tylerl0706 commented on #495
Thanks!

[2018-01-11 15:50] #495 closed

[2018-01-11 17:01] rkeithhill commented on #558
I wouldn't mind dropping support for v3/v4.  That is one thing that has been holding us back from providing symbol support for class & enum.  We're using an older, v3 compatible version of the AST (IIRC) that doesn't know about those.

OTOH I really wish we had some VSCode extension download metrics on which OS's have been used to download.  If the % of Win7 downloads is still high we might not be

[2018-01-11 17:31] daviwil commented on #558
I agree, we'd need to do a major version bump if we dropped support for earlier PS versions.  It'd certainly make the code easier to maintain.  Perhaps it'd be possible to support PSES 1.x side by side with PSES 2.x while not continuing new investment on 1.x.

We could definitely start working on a PSES 2.0 branch and allow it to be turned on with a feature flag.  It'd be a good opportunity to fin

[2018-01-11 17:36] rkeithhill commented on #528
I like `Open-EditorFile`. We already have `Import/Register/Unregister-EditorCommand`.  So `EditorFile` as a noun, fits in nicely.

[2018-01-11 17:39] rkeithhill commented on #558
BTW given the blow-back on the removal of the `sc` alias from PS Core 6, we should make sure we communicate such a decision to the community.  :-)

[2018-01-11 17:39] daviwil commented on #528
Cool!  Let's use `EditorFile` then.  I think anything else could be confusing or hard to find.  Maybe it's best to add the rest of the cmdlets when the `Open` variant is added?

[2018-01-11 17:44] SeeminglyScience commented on #528
While we're talking about it, also `Get-EditorContext` and `Get-EditorCommand`

[2018-01-11 17:44] daviwil commented on #558
Agreed.  I think Tyler is about to do a poll on Twitter to ask about it, then we can write something up to get the word out ahead of any actual work on removing them.

[2018-01-11 17:46] daviwil commented on #528
Definitely `Get-EditorContext` too.  What might someone use `Get-EditorCommand` for?

[2018-01-11 17:49] daviwil commented on #558
One nice way to do this could be to create a discussion issue on vscode-powershell and add a popup in the next update of the extension that shows up for anyone using the extension with PS 3/4/5.0 with a link to the issue so that they can comment and identify themselves.

[2018-01-11 17:51] SeeminglyScience commented on #528
Same thing you use any `Get-` command for ;)

Mostly just information, but also for piping to other commands like `Unregister-EditorCommand`

[2018-01-11 17:53] daviwil commented on #528
Ahhh, cool, makes sense :)  Definitely, `Get | Unregister` makes sense.

[2018-01-11 18:23] tylerl0706 commented on #558
Here's the poll:
https://twitter.com/TylerLeonhardt/status/951510118704627712

right now it's at about 30% of folks still using 3/4 so we might not be able to deprecate. That said, it's still early.

[2018-01-11 18:27] rkeithhill commented on #558
Bummer, Tweetium does not render the poll UI:

![image](https://user-images.githubusercontent.com/5177512/34840512-60fa3a2c-f6c2-11e7-96bf-114f8e1a4649.png)

[2018-01-11 18:30] tylerl0706 commented on #558
feel free to RT so we can reach others too - my PowerShell network is not nearly as large as any of you

[2018-01-11 19:12] SeeminglyScience commented on #558
Created a [reddit thread](https://www.reddit.com/r/PowerShell/comments/7pqf2n/whats_the_lowest_powershell_version_you_use_with/) linking to the tweet for some extra visibility.

[2018-01-11 19:52] SeeminglyScience commented on #558
I think a lot of the responses we get will be more about the version of PowerShell they *write* for.  Right now there isn't really anything great for validating a script against a target PowerShell version.  I've been on and off writing a tool that scrapes changes from the assemblies of different versions to create the data needed to write those tools.

If we decide to move forward with dropping s

[2018-01-11 19:58] daviwil commented on #558
Yeah, I think it's more important to have a good editing experience to make code that *works* on older versions, not necessarily authored while using an older version.  We've never really had the former, so it'll be great to make any progress there!

[2018-01-11 20:32] rkeithhill commented on #558
@SeeminglyScience I've been asking for such functionality from PSSA for a while now.  I believe that is probably the right place for it.  I should be able to specify to PSSA the versions of PS my script needs to run on and it should be able to warn me on missing operators, commands, parameters, keywords, etc.

PSSA could use some community love.  :-)

[2018-01-12 00:43] tylerl0706 commented on #471
@daviwil Looks like the renaming happened. Can we close this?

[2018-01-12 00:47] tylerl0706 commented on #469
Hey @daviwil @SeeminglyScience @rkeithhill - nice discussion :) I'm just coming back here to see if I can get an update on where this left off. Any comments?

[2018-01-12 00:50] tylerl0706 commented on #463
Some get dropped in the process too - I might add.

[2018-01-12 00:53] tylerl0706 commented on #453
Have we seen this in a while? If not, we should close it and open a new one if the issue comes back.

[2018-01-12 00:56] tylerl0706 commented on #442
Hope Keith answered your question :)

[2018-01-12 00:56] #442 closed

[2018-01-12 00:59] tylerl0706 commented on #440
Feel free to open another issue if you can confirm this works in the ISE but not in VSCode!

[2018-01-12 00:59] #440 closed

[2018-01-12 02:02] tylerl0706 commented on #438
Could this autoloading be causing https://github.com/PowerShell/vscode-powershell/issues/861 ?

[2018-01-12 02:25] tylerl0706 commented on #437
Looks like this repros only on Windows from what I can tell so far.

[2018-01-12 02:36] tylerl0706 commented on #414
It would be cool if we could get this in 1.6.0. I'd love to see if I could get this working.

[2018-01-12 02:43] tylerl0706 commented on #410
I can't repro this anymore 🙂 I'm going to close it - feel free to open a new one if you're still seeing the issue.

[2018-01-12 02:44] tylerl0706 commented on #407
I think this work is already done since we're on the latest version of the LSP. Is that true?

[2018-01-12 02:45] tylerl0706 commented on #395
Yep - that's a big one.

[2018-01-12 02:46] tylerl0706 commented on #394
Did you make any progress on this one?

[2018-01-12 02:49] #390 closed

[2018-01-12 02:53] tylerl0706 commented on #376
I can't repro this anymore 😄 if you're still seeing it, reopen/open a new issue!

[2018-01-12 02:53] #376 closed

[2018-01-12 02:55] tylerl0706 commented on #373
PSScriptAnalyzer is no longer crashing PSES so I'm going to close this. 👍

[2018-01-12 02:55] #373 closed

[2018-01-12 03:01] tylerl0706 commented on #362
Looks like this is no longer reproing 😄 I'm closing it - you know what to do.

[2018-01-12 03:02] rkeithhill commented on #407
The work for file/folder is done but there is a bit more work do here for enum values and probably some other completion item types.

[2018-01-12 03:02] tylerl0706 commented on #355
Any idea if this still repros?

[2018-01-12 03:04] tylerl0706 commented on #345
I don't think this repros anymore, does it @rkeithhill?

[2018-01-12 03:05] rkeithhill commented on #453
Nope, haven't since it since I submitted this.

[2018-01-12 03:06] #453 closed

[2018-01-12 03:10] tylerl0706 commented on #558
So we're at 11% for 3, 9% for 4.

I'd like to hear what @SteveL-MSFT has to say about this.

[2018-01-12 03:12] tylerl0706 commented on #593
Yep! That should be fixed with the change. I'll close this now and if we see it again, we can open a new one.

[2018-01-12 03:12] #593 closed

[2018-01-12 03:12] rkeithhill commented on #362
Yes, it still repros.  You have to a location modifier on the variable e.g.:

![image](https://user-images.githubusercontent.com/5177512/34858135-bd1ece96-f70b-11e7-90f8-bf024af95229.png)

[2018-01-12 03:13] rkeithhill commented on #355
Dunno because attach to process has been broken for a while.  :-(

[2018-01-12 03:15] tylerl0706 commented on #362
Ah. I did this and that worked:
[code]

Cool - we'll keep it open

[2018-01-12 03:15] rkeithhill commented on #345
I think I fixed this a while back.  If not, keep an eye out for:
[code]
In log files.

[2018-01-12 03:17] tylerl0706 commented on #345
Sounds good. Closing for now.

[2018-01-12 03:17] #345 closed

[2018-01-12 03:51] SteveL-MSFT commented on #558
My opinion is that v3 and v4 users can still use ISE.  If we can be more efficient and the majority of users are v5.1+, then it seems we should drop v3/4 support.

[2018-01-12 03:54] daviwil commented on #558
I'd definitely like to find a way to do it "gracefully" that enables things to work for older platforms while unencumbering us to do new work.  Hiding the v3/v4 code behind some well factored interfaces, living its own assembly could do the trick.

[2018-01-12 04:01] daviwil commented on #438
Nah, this is caused by the use of DSC.  For some reason, having `Import-DSCResource` in a script slows IntelliSense to a crawl.

[2018-01-12 04:04] daviwil commented on #414
This would definitely fit with a `New-EditorFile` cmdlet.  Could have an optional pipeline param that accepts a string with the new file contents.

[2018-01-12 04:05] daviwil commented on #410
The thing I forgot to mention here is that there's a specific reason for the issue: having enough lines in your terminal history (3000+) and then overflowing the column width of the terminal.  If you make a script that writes out 3000 lines then past a super long line into the terminal, I think it'll crash.

[2018-01-12 04:07] daviwil commented on #394
Nope, never had time.  One thing I wanted to do was to create a "Project" subsystem for PSES which is able to index files in a way that will be semantically correct for the language and really efficient.  It is a nontrivial amount of work.  Maybe @SeeminglyScience might want to look into it someday ;)

[2018-01-12 04:07] daviwil commented on #376
I think we may have fixed it in the middle of last year with some other changes.

[2018-01-12 04:08] daviwil commented on #407
They keep adding more stuff to LSP 3.0 so it was never fully "done" :)  I may try to get caught up on this soon while I'm hooking things up in Atom.

[2018-01-12 04:58] tylerl0706 commented on #414
That'd be great!

[2018-01-12 09:55] SeeminglyScience commented on #394
Coincidentally I've thought about this **a lot** over the last month or so.  I think an ideal implementation would be being able to select a target psd1 file the same way the C# extension can select a target csproj.

Unfortunately even with that system, this is way more complex than it may seem on the surface. Ideally, this would work purely from static analysis.  Realistically, we'd either have t

[2018-01-12 10:08] SeeminglyScience commented on #469
The next thing to be "componentized" was workspaces iirc.  Right now there is no publically accessible way to get a `ScriptFile` object.   This is required for the other component API's (like getting symbols and code lenses) to be accessible from extension modules.

More specifically, API's from the `Microsoft.PowerShell.EditorServices.Workspace` (**not** `$psEditor.Workspace`) class need to be ma

[2018-01-12 17:11] rkeithhill commented on #394
I dunno about relying upon module infrastructure.  I know a few teams where I work that have a big hairball of scripts they dot source and don't use modules at all.

Couldn't we add a setting (or psproj.json file) where the user could have control over where we look for script files?  Could even default to the entire repo with some preset excludes (**/node_modules, **/.git, etc).  That doesn't add

[2018-01-12 18:06] SeeminglyScience commented on #394
@rkeithhill Yeah that makes sense.  We could have it act more like the references code lens currently does but with a way to exclude (well, the references code lens would need to follow that exclusion as well obviously)

I wonder if the exclude setting should be part of a new static project file, or setting set in the workspace profile via a command like `Set-EditorOption`.  If we go with the form

[2018-01-12 20:04] tylerl0706 commented on #572
@rkeithhill no worries! Any idea if it's still happening?

[2018-01-13 00:30] tylerl0706 commented on #310
Ah yes. This is still important.

[2018-01-13 00:32] daviwil commented on #310
1.6 is a good time to start doing that I think.  It'd be useful for the Atom extension.

[2018-01-13 00:32] tylerl0706 commented on #308
This might not be needed if we plan on deprecating 3/4. That said... It might be nice to do this between 5.1 and 6.

[2018-01-13 00:33] tylerl0706 commented on #299
Can you explain this one a little more?

[2018-01-13 00:35] tylerl0706 commented on #296
Looks like this is still a thing. Any reason why we should do this?

[2018-01-13 00:37] daviwil commented on #296
We need to scan for available ports so that we don't try to use one that's already in use, but that code definitely shouldn't be in Start-EditorServices.ps1.  It'd be nice if we could port it to C# in the PowerShellEditorServices.Host assembly, that'd simplify Start-EditorServices a lot.

[2018-01-13 00:40] daviwil commented on #308
I think it'd be even more necessary if we dropped PS3/4 because we would need a way to allow the user to write scripts for PS3/4 without that version of PS being available on the machine.  Not really an easy problem to solve though!

[2018-01-13 00:40] tylerl0706 commented on #293
This would be nice

[2018-01-13 00:41] rkeithhill commented on #299
`Wait-Debugger` is a command that you can put in a script that will stop the script at that point in the debugger.  I think this is probably CLI debugging oriented but it would be nice if we could use the extension/VSCode to do the debugging after that command has been invoked.  I think of it kind of like calling DebugBreak() (or System.Diagnostics.Debugger.Break()).

[2018-01-13 00:42] daviwil commented on #293
I think I looked into this last year sometime and wasn't totally satisfied for some reason.  I think it's because enabling structured logging would mean taking a dependency on a third-party OSS library like serilog, which I really didn't want to do.  Keeping PSES' DLL count low seemed like a better priority.

That said, it'd be nice to make PSES's logging code more structured so that its easily pa

[2018-01-13 00:42] rkeithhill commented on #308
As I've said before on a different issue, I believe this functionality belongs in PSSA and as such would still be surfaced through the PSES.

[2018-01-13 00:43] tylerl0706 commented on #292
This would use PowerShell Standard?

Also, I thought that that our own implementation of PSHost was need, no?

[2018-01-13 00:46] tylerl0706 commented on #290
$psEditor all the things 😄

[2018-01-13 00:49] tylerl0706 commented on #278
Interesting - this still a problem since we've switched to dotnot-cli tools?

[2018-01-13 00:53] daviwil commented on #292
I think I've moved on from this idea, gonna close it for now.  I think it'd be better to find ways to make PowerShell's PSHost APIs better and the ConsoleHost more reusable.

[2018-01-13 00:53] #292 closed

[2018-01-13 00:55] daviwil commented on #278
This required some dependency that I didn't have access to at the time.  This is the place in the code where it was necessary:

https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices.Host/EditorServicesHost.cs#L130

I think it should be fixable now but it isn't a super high priority.

[2018-01-13 00:56] daviwil commented on #290
Definitely still worth doing, but I dunno if you can dynamically register context menu items.  VS Code likes to have everything statically registered in the package.json, so it may not be possible.  Needs investigation.

[2018-01-13 12:48] SeeminglyScience commented on #290
Something I've been wanting for a long time is the ability to assign an AST type to an editor command so any time you right clicked within an AST of that type you'd have the option to invoke it.  Last time I looked into implementing it (a few months ago) it wasn't possible 😕

[2018-01-14 14:39] SeeminglyScience opened #610 "GetEditorContext throws NullReferenceException when not supported"
`$psEditor.GetEditorContext` currently throws a `AggregateException` wrapping a `NullReferenceException` when not supported by the editor.  It should throw a `NotSupportedException` instead.

In Atom:

[code]

[2018-01-14 14:45] SeeminglyScience opened #611 "Paths supplied by the host editor should be normalized"
Different editors can supply paths slightly differently, we should make sure we normalize it before storing in a public API.  For example, here's `$psEditor.Workspace` in VSCode and Atom

[code]

[code]

[2018-01-14 18:23] daviwil opened #612 "Using Find References on Linux causes Editor Services to crash with "too many open files""
Seems we're hitting OS limits for file handles while walking the project's folder structure.

Relevant stack trace:

[code]

Related issues:

- vscode-powershell: https://github.com/PowerShell/vscode-powershell/issues/908
- ide-powershell: https://github.com/daviwil/ide-powershell/issues/1

[2018-01-15 08:42] tylerl0706 commented on #290
Whoaa that'd be awesome @SeeminglyScience. Was VSCode not sending click events to PSES? Or rather click events at a particular context?

[2018-01-15 11:16] SeeminglyScience commented on #290
@tylerl0706 I don't think we send any events that generic to PSES, but more importantly you just couldn't register context menu items dynamically period.  They all need to be define explicitly in the `package.json` file.  I didn't get far enough into looking into it to know for sure, but even if that's changed since then it seemed like the `when` clause didn't provide enough control for that eithe

[2018-01-15 13:00] SeeminglyScience opened #613 "Hook up PSES events to PSEventManager"
Right now the only way to register event/request handlers is to override them via `IMessageHandlers` from the component registry.   This has a few issues

1. As far as I can tell this only allows you to override handlers, not add to them.  Doing this as part of an extension module would break existing functionality.

1. These delegates are invoked from a thread that doesn't have a default runspace

[2018-01-16 01:37] rkeithhill commented on #299
And indeed it does work!  Cool.

[2018-01-16 01:37] #299 closed

[2018-01-16 02:13] rkeithhill commented on #613
This sounds cool.  Do you have specific user scenarios in mind for this?  Is this to hook events like OnSave(), OnDebugStarting/Ending?

[2018-01-16 03:10] SeeminglyScience commented on #613
Some time ago I took a crack at implementing a component base so you could implement code lense/symbol providers with PowerShell.  It worked pretty well, but it needed a dedicated runspace and was overly complicated.  Anyway, that's what sparked it, but (mostly) anything we typically run in the background is a good candidate.

Some other ideas off the top of my head

1. Custom code action provider

[2018-01-16 16:51] tylerl0706 commented on #613
This sounds awesome! A side effect of this that you touched on is that we give the users more of an ability to use PowerShell to extend PSES. It's only fitting. Some one shouldn't need to know C# in order to do this.

[2018-01-16 19:07] SeeminglyScience commented on #613
@tylerl0706 Yup! That was the original motivation.  I tried to implement a symbol provider for classes in PowerShell and it instantly crashed every time I requested symbols :)

[2018-01-16 19:20] #528 closed

[2018-01-16 19:23] tylerl0706 commented on #276
Looks like this one might be bundled into the whole "support for v3 and v4 or not" debate.

[2018-01-17 00:47] tylerl0706 commented on #262
@ykuijs looks like you opened this on VSCode a long while back. Are you still seeing this issue?

[2018-01-17 00:52] tylerl0706 commented on #260
This looks like a good opportunity for an `Open-EditorFolder` with an optional parameter to specify if you want to open in a new window!

[2018-01-17 01:27] SeeminglyScience opened #614 "Release for 1.5.1 wasn't done here"
We're currently shipping 1.5.1 with VSCode but a release wasn't created on this repo.  Since the module isn't currently being published to the `PowerShellGallery` the only way to script an automatic download is to use the GitHub releases API.

[2018-01-17 02:29] tylerl0706 commented on #9
Closing this here since the issue is opened in ScriptAnalyzer.

[2018-01-17 02:29] #9 closed

[2018-01-17 02:34] tylerl0706 commented on #13
<img width="1184" alt="screen shot 2018-01-16 at 6 33 35 pm" src="https://user-images.githubusercontent.com/2644648/35022632-cb50b59a-faeb-11e7-92ba-e5800ec4fa8a.png">

This looks like it's working now?

[2018-01-17 02:43] tylerl0706 commented on #25
I believe this is working now but I don't quite know how to "rename" unless you mean through the search menu.

[2018-01-17 02:45] tylerl0706 commented on #31
@daviwil did you ever get that interim fix in?

[2018-01-17 02:50] tylerl0706 commented on #37
The repro steps for this confuse me a bit

Do you mean that you need a breakpoint after that line?

[2018-01-17 02:55] daviwil commented on #37
Yeah, just have another line after with `Write-Host $ps0` or something and set a breakpoint on it.  Judging from what I read here some things I did last year may have fixed this issue.  Definitely try to repro it and see if it works now.

Just realized, this bug is super old!

[2018-01-17 02:55] daviwil commented on #31
I think so, we haven't had reports of this issue in a really long time.  I'll close it for now!

[2018-01-17 02:55] #31 closed

[2018-01-17 02:57] daviwil commented on #25
I think rename may be broken for us now since the LSP got new message types for performing renames.  However, I think finding/renaming variables in strings did work the last time I tried it.

[2018-01-17 03:00] daviwil commented on #13
Nah, that's just the "description" of the completion.  Signature help is the thing that comes after you type .Add( and you get the parameter list of the method as a popup above as you type.  This is definitely one of the gaps in PSES.

[2018-01-17 14:52] ykuijs commented on #262
@tylerl0706, No I haven't seen this issue anymore recently. You can close this issue

[2018-01-18 00:55] tylerl0706 commented on #246
I'm not sure we need this as much now that we have the Integrated Console. Thoughts?

[2018-01-18 03:01] rkeithhill commented on #246
I think we need to keep this around.  This is more of a VSCode extension GUI issue i.e. how we display the list of editor commands when someone executes: `PowerShell: Show Additional Commands from PowerShell Modules`.

[2018-01-18 04:25] tylerl0706 commented on #262
Thanks!

[2018-01-18 04:25] #262 closed

[2018-01-18 04:32] tylerl0706 commented on #246
Right but how many additional commands do people typically have? If it's like 2-3, we probably don't need this feature. But if people typically have a decent amount, it sounds like a valid ask.

I think maybe I don't quite understand what this feature is suppose to do/be used for. Are the commands usually editor specific?

[2018-01-18 04:41] SeeminglyScience commented on #246
@tylerl0706 it's for extending PSES from PowerShell. Here's some examples https://github.com/SeeminglyScience/EditorServicesCommandSuite

[2018-01-18 07:04] elovelan commented on #550
yeah, thanks for the reminder, let me take a look within the next week or two

[2018-01-21 02:24] SeeminglyScience opened #615 "Provide a way for implementations to announce supported features"
Right now as far as I can tell there isn't a great way to tell if the editor supports a specific request.  For example, if a consumer of the `$psEditor` API wants to request editor context with `$psEditor.GetEditorContext()` the only way to know if the editor supports it is to try and possibly fail.

Making things a little more complicated is every request can act a little differently.  For instan

[2018-01-22 16:23] tylerl0706 commented on #614
Oops!

[2018-01-22 17:00] tylerl0706 commented on #612
This + a `node_modules` folder makes PSES cry every time :(

[2018-01-22 18:48] tylerl0706 commented on #612
My debugger wont actually stop on the line... it's almost as if this exception is so bad, you can't break at it. Maybe you can't even catch it :(

[2018-01-22 19:20] tylerl0706 commented on #612
Wait I might have figured it out...

The `Directory.EnumerateFiles` function has a 3rd overload where you pass in a `SearchOption` which can be `SearchOption.AllDirectories` which recurses down. This makes the function a matter of calling:

[code]

This call doesn't crash in a folder that crashed previously!

[2018-01-22 19:21] tylerl0706 commented on #612
The full function basically looks like this:

[code]

[2018-01-22 19:24] rkeithhill commented on #612
I recommend you also catch `PathTooLongException` (assuming the EnumerateFiles can throw that exception) - just in case.  For these cases, I usually use C#'s exception filter mechanism so you don't have to repeat the contents of the multiple catch blocks.

[2018-01-22 19:27] daviwil commented on #612
We were using this approach in the past, but the problem is that it stops enumerating on the first exception that it finds and there's no way to resume it:

https://github.com/PowerShell/PowerShellEditorServices/commit/0788a3eb55c99b330c8b77a97086ca3daabc8354#diff-7500716c7e03a30040a8f1664f42be23

We broke this out into our own loop so that we can catch the exceptions more granularly without inter

[2018-01-22 19:46] tylerl0706 commented on #612
Makes sense. So you don't think this is the right solution?

[2018-01-22 19:47] daviwil commented on #612
Yeah, because if the first file/folder we look at throws an exception, none of the other files will be scanned, leaving the user to wonder why Find References, etc doesn't work.

[2018-01-22 19:54] tylerl0706 commented on #612
I get that... but if we use SearchOptions on Linux and Mac, that at least prevents a crash.

And looking at our exceptions, how often do they happen?
DirectoryNotFoundException - will only happen if given a bad folder path (not important)
PathTooLongException - not sure... but does this only happen on windows?
SecurityException, UnauthorizedAccessException - these seem rare to me... the user proba

[2018-01-22 20:06] tylerl0706 commented on #612
btw globbingstar is on the .NET Core radar:
https://github.com/dotnet/corefx/issues/18922

[2018-01-22 20:27] daviwil commented on #612
I think PathTooLongException only happens on Windows, but it's entirely possible to hit this when working on a project that's under a nested folder path if it has it's own deep folder tree.  Since users of Windows PowerShell greatly overwhelm any users of PowerShell on Linux or Mac, I think it makes sense to guard for cases that might be Windows-only while still giving the best possible language e

[2018-01-22 21:13] tylerl0706 commented on #612
@daviwil wow. Changing to Get* _just works_. Good call! I'll send out a PR

[2018-01-22 22:45] tylerl0706 commented on #610
🤓

[2018-01-22 22:48] tylerl0706 commented on #611
I wonder what Linux and macOS does in this scenario. 🤔

[2018-01-22 22:51] SeeminglyScience commented on #610
It doesn't anymore 🎉 🎉

(but only because it supports `GetEditorContext` now, other implementations that don't support it will still throw a NRE)

[2018-01-22 23:05] tylerl0706 commented on #610
This is going to be tough to repro then, huh :(

[2018-01-22 23:11] daviwil commented on #610
Nah, just comment out [this block of code](https://github.com/PowerShell/vscode-powershell/blob/master/src/features/ExtensionCommands.ts#L210), run the extension, then type `$psEditor.GetEditorContext()` in the Integrated Console and you'll see it :)

[2018-01-24 02:44] dsolodow commented on #543
I can confirm that it is; I've encountered it as well.

[2018-01-24 12:49] vGruntus commented on #543
@tylerl0706 Not a problem. Sorry I have not followed this up sooner, and that I've taken so long to respond. As mentioned by @dsolodow, this is still happening. If I load a PowerShell file into VSCode which contains PowerCLI components, the file loads successfully. When I hover the mouse over a PowerCLI cmdlet, VSCode will attempt to import the module and then produce the message above. This is oc

[2018-01-24 12:54] SeeminglyScience opened #617 "Add support for source maps"
One of the most common project layouts is to have every function in it's own `ps1` file.  When one of those projects gets at a certain size (*very* large, like dbatools) that can begin to affect the load time of the module.  As a workaround, some of these modules will "compile" the `ps1` files into a single `psm1`.

I think it would be a good idea to come up with a source map system so if we break

[2018-01-24 12:59] SeeminglyScience opened #618 "Add support for "justMyCode" debugger option"
Debugging a test and stepping in and out of Pester can be frustrating.  It'd be nice if we could have an option to automatically step through to the next in-workspace stop.

[2018-01-24 16:45] rkeithhill commented on #617
I could see that being useful. However before we starting adding a bunch of new debugging features I'd like to see the stability of the debug experience improve first.  I still have way too many debug sessions hang or die on me.

[2018-01-25 00:43] #612 closed

[2018-01-25 00:45] tylerl0706 commented on #618
Can you elaborate on this one some more?

[2018-01-25 01:07] SeeminglyScience commented on #618
`justMyCode` is a common option in debuggers that makes it so you don't step into code outside of your project.  For example, if you had the following code in C#

[code]

If the debugger was stopped on line one, and you "step into" (F11) you would continue to line 2 instead of stepping into the code for `System.Console.ReadKey()`

[2018-01-25 16:57] #587 closed

[2018-01-25 19:11] tylerl0706 commented on #414
Now that we've changed `psedit` to `Open-EditorFile` and want to add a `New-EditorFile` maybe we should consider creating a PowerShell module that EditorServices can import into it's session rather than calling the script block here:
https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Session/RemoteFileManager.cs#L39-L96

[2018-01-25 19:16] tylerl0706 commented on #414
Open-EditorFile
New-EditorFile
Get-EditorFile
Close-EditorFile
Delete-EditorFile
Rename-EditorFile

[2018-01-25 19:23] rkeithhill commented on #414
From a maintenance point of view, it would be much nicer to edit those functions as PowerShell script vs C# strings.  :-)  Although, would we ship the module only with PSES?  Would there be any need to put it on PSGallery?

[2018-01-25 20:30] tylerl0706 commented on #414
@rkeithhill even if we only ship it with PSES, it's probably still cleaner to pull the strings out into it's own PowerShell script.

That said, it _could_ go on the gallery and then brought in for a release. That way we could separate it into its own repo.

I wonder how testing that module would work. 🤔

[2018-01-25 22:07] SeeminglyScience commented on #414
I feel like I'm missing something.  Those strings are just implementation detail for creating/cleaning up the function that opens files in remote sessions.  Most of them aren't actually functions.

I'm all for getting the functions you listed implemented though.  But I'd be hesitant to load them into every runspace we enter.

[2018-01-25 22:44] tylerl0706 commented on #414
Right, we're talking about expanding on the function that opens files. I'd rather not implement other functions (like `New-EditorFile` in a string in C#) It would be more valuable to have this pulled out to a PowerShell module so that the creating/cleaning is just a matter of importing and removing the module.

That also enables us to add other functions like the ones I mentioned above. We'd just

[2018-01-25 22:50] tylerl0706 commented on #414
what's the issue loading them into every runspace? It's not _that_ much logic, is it?

I think your hesitation is valid though which got me thinking...

what if *-EditorFile was a totally separate module and the user had the option to install it or not.

They could install it via `Install-Module` and use it. That way those that want it can have it, but it doesn't bloat up the runspaces.

^ (half t

[2018-01-25 23:03] SeeminglyScience commented on #414
@tylerl0706 Oh yeah they should definitely be in a module.  Anything the user would actually call I think.
 Aside from the proxy psedit command. Any reason we wouldn't put them in [commands](https://github.com/PowerShell/PowerShellEditorServices/tree/master/module/PowerShellEditorServices/Commands)?

I guess it depends on what they do.  For most things we'd need to set up events to forward back to

[2018-01-25 23:47] tylerl0706 commented on #414
Now I feel like _I'm_ missing something 😄

Are you saying psedit can't go in "commands"? If so why can't it? If it can, I think it totally should go in commands.

[2018-01-26 02:53] SeeminglyScience commented on #414
@tylerl0706 it most certainly can, in fact [it already is](https://github.com/PowerShell/PowerShellEditorServices/blob/38c14502f73c6eb2de3b00be74135e43c2420205/module/PowerShellEditorServices/Commands/Public/CmdletInterface.ps1#L80) :P

I was talking about the proxy psedit for remote sessions

[2018-01-26 03:36] tylerl0706 commented on #414
I see. So I guess the question is, what would we want to be loaded in a remote session?

I would think maybe `open-editorfile` and `new-editorfile`... That's it.

Side thought, do you think we could get away with folding new file creation into `open-editorfile`

Maybe that's not PowerShell-y 🤔

[2018-01-26 04:15] SeeminglyScience commented on #414
Actually if open created files with a `Force` parameter that'd be pretty PowerShell-y. Plenty of precedent for that I think

[2018-01-27 07:26] WernerMairl commented on #604
hi
i'm one of the issuer, now ready for a retest on Ubuntu...
where i can download/install the latest master build (assuming that the fix is merged) ?

i have found the following:

https://travis-ci.org/PowerShell/vscode-powershell/builds/333064180
but not able to find/download build output artifacts....

regards
Werner

[2018-01-27 15:45] SeeminglyScience commented on #604
@WernerMairl this issue is about writing automated tests, but we'd love for you to try it out as well :)

1. Grab the build from `AppVeyor` [here](https://ci.appveyor.com/api/buildjobs/sk1qf096ecryddm9/artifacts/PowerShellEditorServices-1.5.1-1001.zip).  Note that this archive was built on Windows, some compression utilities won't automatically translate the Windows directory separators to Linux.

[2018-01-28 03:44] rkeithhill commented on #572
I think so but you have to configure the debugger to break when IOPEx is first thrown IIRC.

[2018-02-03 19:10] filmihaylov commented on #37
Hi not sure if i am getting the same issue. My exception is (System.Management.Automation.GetValueInvocationException: 'Exception getting "Path": "There is no Runspace available to run scripts in this thread. You can provide one in the DefaultRunspace property of the System.Management.Automation.Runspaces.Runspace type. The script block you attempted to invoke was: $this.Mainmodule.FileName"'
)

w

[2018-02-05 18:40] tylerl0706 commented on #617
https://webpack.js.org/ but for PowerShell B)

[2018-02-05 18:44] tylerl0706 commented on #414
and piping into `Open-EditorFile` would still be PowerShell-y if given a `-Force`?

[2018-02-05 18:47] tylerl0706 commented on #414
[code]

[2018-02-05 19:40] tylerl0706 commented on #37
@filmihaylov from what I can tell, that code you pasted is C# and you're trying to create a runspace and execute `Get-Process` in it. How are you running the code? Are you using VSCode?

This doesn't sound like an issue with the PowerShell extension for VSCode. I would recommend posting on [StackOverflow](http://stackoverflow.com/).

[2018-02-05 22:25] SeeminglyScience commented on #414
Yeah, `New-Item`'s `Value` parameter takes pipeline input.  I don't see why not.

[2018-02-05 23:42] tylerl0706 commented on #543
So the workaround so far is

import the module manually in the PowerShell Integrated Console before hovering over something in the script?

Or do you need to close the script first before the Integrated Console finishes starting up?

[2018-02-12 03:46] rkeithhill commented on #37
I can't repro the original bug anymore. I say close it.

[2018-02-12 18:04] tylerl0706 commented on #37
Sounds good! Please don't hesitate to open a new one if you see the issue.

[2018-02-12 18:04] #37 closed

[2018-02-15 00:12] #586 closed

[2018-02-20 21:59] #414 closed

[2018-02-20 21:59] #413 closed

[2018-02-21 05:39] tylerl0706 commented on #227
Gonna close this since we have that indication :) if you see otherwise, please file a new issue!

[2018-02-21 05:39] #227 closed

[2018-02-22 11:04] nightroman commented on #258
I see it working great in 1.6.0. Thank you so much!
I will update my *Invoke-TaskFromVSCode.ps1* shortly.

[2018-02-22 11:04] #258 closed

[2018-03-02 17:42] jdhitsolutions opened #630 "Add Keyboard Shortcut to Register-EditorCommand"
This might just be me, but I would love to see an additional parameter for Register-EditorCommand to define a keyboard shortcut. Right now, I have to manually add a keyboard shortcut, which I suppose isn't that difficult now that I know how. But figuring *that* out took some time since I couldn't find any useful documentation. It would be much easier to make this part of the register command.

[2018-03-05 16:31] SeeminglyScience commented on #630
Oh wow, I didn't realize we could set shortcuts for editor commands in VSCode yet!  Thank you for prompting me to check :)

For now, so it's documented somewhere, here is an example:

[code]

You can get the name of the editor command you want to bind using this:

[code]

The property you want to use for `commandName` is `Name`.

As for the parameter on `Register-EditorCommand`, that was the idea

[2018-03-08 18:37] rjmholt opened #631 "Add extra installation instructions about administrator privileges and PSCore6 modules"
I was trying to build PowerShellEditorServices on my machine with the following `$PSVersionTable`:
[code]

### `Install-Module` not found
Due to self-hosting on PSCore6, there was no `Install-Module` cmdlet. It might be worth having a note somewhere (possibly here or in the [PowerShell](https://github.com/PowerShell/PowerShell) README?) to make sure people use `Start-PSBuild -PSModuleRestore` when

[2018-03-16 15:10] nanoant opened #634 "Stdout/stdin (pipe) protocol support"
It seems that `PowerShellEditorServices` support only TCP protocol and cannot be ran as simply pipe (stdin/stdout) Language Service Server.

It there any change (plan) to add stdin/stdout support, this will enable integration with more Editors/IDEs such as Sublime Text LSP and VIM-LSP.

https://github.com/prabirshrestha/vim-lsp/issues/104
https://github.com/tomv564/LSP

[2018-03-16 16:30] tylerl0706 commented on #634
Sooner then you think :)

https://github.com/PowerShell/PowerShellEditorServices/pull/629

[2018-03-16 16:31] tylerl0706 commented on #634
If you hop in the PowerShellEditorServices gitter, there's some conversation on how to get that PR working with NeoVim 😀

[2018-03-16 17:02] nanoant commented on #634
@tylerl0706 wow, thanks a lot :) Actually I am trying to make it working with Sublime Text 3 LSP plugin. I'll let you know if I get it running.

[2018-03-16 17:21] tylerl0706 commented on #634
Feel free to bug us on Gitter,  here, or the #vscode-contributors channel on the PowerShell slack! :)

I'm all for getting new editors on board!

[2018-03-20 06:38] tylerl0706 commented on #630
Just did some research. I don't think this is possible still in VSCode.

Also, this will require some amount of work to implement there. Right now, all of the "registered editor commands" are treated as 1 command with different values for an argument. In other words, an editor command "foo" is actually triggering the "RegisteredEditorCommand" with the name argument "foo".

This will either need to

[2018-03-20 06:46] tylerl0706 commented on #631
For sure on the PowerShell side. We should assume that you have PowerShell (in full).

Ah I started seeing this recently... so it's the IsBypassed requiring Admin? If so, I think that's fine. Or we can update our url which doesn't require admin?: https://dot.net/v1/dotnet-install.ps1

totally agree, don't care either way. Maybe @rkeithhill or @SeeminglyScience have opinions.

[2018-03-20 13:49] SeeminglyScience opened #635 "Add a scroll to position function"
I was looking at implementing some editor commands that scroll to next `function`/`method`/`thing` and none of the current API's scroll.  Looks like there was a change at some point that made insert text, set selection, etc not scroll by default in VSCode.

We should implement a new request `ShowEditorPositionRequest` and add a function (`Show-EditorPosition`?) to `Commands` that sends it (and opt

[2018-03-20 15:06] SeeminglyScience commented on #630
That you can already do (see example above).  The trick is registering the shortcut dynamically, which I don't think is currently possible.

[2018-03-20 15:14] tylerl0706 commented on #630
Ahh... I totally missed that. Oops 😊

[2018-03-20 15:57] rkeithhill commented on #635
Sounds reasonable to me.

[2018-03-21 01:19] tylerl0706 commented on #635
Sounds awesome

[2018-03-21 06:25] rjmholt opened #636 "PSES crashes with null dereference in GetVersionDetails"
Opened from [vscode-powershell #1211](https://github.com/PowerShell/vscode-powershell/issues/1211).

PSES crashes while looking up the PowerShell version. The message is:
[code]

Relevant code is [here](https://github.com/PowerShell/PowerShellEditorServices/blob/80755157599b620c8e24517e4d36166bd2943922/src/PowerShellEditorServices/Session/PowerShellVersionDetails.cs#L153).

[2018-03-21 11:39] nanoant opened #637 "Add-Type -AssemblyName not taken into account by the completion"
I tried to look for the solution in existing tickets, but found no ticket mentioning `Add-Type` support.

I am using now PSES in Sublime Text with PR and recipe at: https://github.com/PowerShell/PowerShellEditorServices/pull/629#issuecomment-373787797 and I found that it is not completing .NET types loaded by `Add-Type` e.g.:
[code]
completes only to types present in `System.IO.Compression` but no

[2018-03-21 12:14] SeeminglyScience commented on #637
So the intellisense provided by PSES is powered by the same API that powers tab completion in the PowerShell engine.  For a lot of things, that API relies on session state.  Until the engine can provide purely static completion for things like this the only way is to alter the session state of the runspace PSES is running in.

Ideally this would be done via an integrated console, but the easiest w

[2018-03-21 13:53] nanoant commented on #637
Okay the workaround with `HostProfileId_profile.ps1` worked, I had only a trouble because this functionality has to be explicitly enabled with:
[code]

Anyway I think there might be at least some basic support for `Add-Type` handling without state considered. At least for the cases where it is explicit condition-less statement.

[2018-03-21 14:31] SeeminglyScience commented on #637
Unfortunately there isn't, there's been discussions on how to implement it (mostly around `using assembly x` statements) but nothing has been added yet.  Remember that debugging a script or running something in the integrated console will run against the same runspace used for completion, so that makes it difficult to tell what requires state and what doesn't (until you use an editor that can't ea

[2018-03-22 20:47] rkeithhill commented on #631
I don't think self-hosting PS6 is going to be very common but I'm not opposed to documenting how to make this scenario work.

As for the IsBypassed issue, I assume we'd just document you need to be admin to run Invoke-Build?  However, we could put in checks in the script.  That said, I run the PSES build from VSCode a lot and I rarely launch VSCode as admin.  I would be bummed if I couldn't build

[2018-03-23 07:53] tylerl0706 commented on #569
I've seen a couple of things with this issue. One is this `System.UriFormatException: Invalid URI: The hostname could not be parsed`. The other, the `PathTooLongException` that we see a lot of in https://github.com/PowerShell/vscode-powershell/issues/1195 .

I think these two exceptions are ones we need to handle. My gut says that if we catch these in:
https://github.com/PowerShell/PowerShellEdito

[2018-03-23 15:07] rkeithhill commented on #569
My first approach to these sorts of problems was to just handle the exceptions but I think @daviwil believes there is a problem with how we handle file URIs.

[2018-03-23 16:57] rkeithhill commented on #569
Here is yet another case of PSES not understanding a file URI. In this case the URI is `git-file-viewer://./build.47321a.ps1` which is created by GitLens when viewing a previous version of a file.  This results in this crash:
[code]
Seems like maybe we need a centralized and better form of file URI handling methods?  Or if we already have them, we need to use them.

[2018-03-24 06:38] rkeithhill commented on #569
So the path too long is correct in some cases - like this:
[code]
That is 287 chars long which System.IO.Path.GetFullPath() chokes on.

[2018-03-24 07:36] rkeithhill commented on #569
What is disturbing is that on PS Core on Windows, I don't have this problem:
[code]
That is the expected exception.

Now in Windows PowerShell 5.1 on the same system - Windows 10 1709 with long paths enabled, we get a PathTooLongException:

[code]
I'm puzzled.  Long path support was added to .NET 4.6.2, this should be working in Windows PowerShell.  Hmm...

[2018-03-24 19:04] gerane opened #644 "Add new commands for Find\Install Editor Commands"
I want to add some new commands that should make discovering and installing new Editor Commands or modules with them easier. One of the easiest ways we could do this is by writing wrappers around Find-Module and Install-Module. Just change it to only find modules with a particular tag or set of tags.

Editor Commands are a great feature of PSES, but they don't get a lot of attention and are often

[2018-03-24 19:34] SeeminglyScience commented on #644
I think we should be a little bit more explicit, like `EditorServicesCommands`.  If some other editors have similar concepts in the future (or currently) we wouldn't want to include in the list (because they won't work)

I think VSCode should register them as commands in the extension, and the module should register them as editor commands if the host is not VSCode.  Granted, no other editor curre

[2018-03-25 05:05] rkeithhill commented on #569
OK, I think I have a fix for this. PR coming soon.

[2018-03-25 13:38] tylerl0706 commented on #637
Yeah @rjmholt, @joeyaiello and I were talking about this the other day. `using assembly x` is what we want people to do but there's currently not an incredible experience with that.

Same thing goes for `Import-Module` vs `using`.

We want folks to use `using` since it's a parse-time construct vs a runtime construct like `Import-Module` and `Add-Type`.

A plan isn't shelled out just yet, but expec

[2018-03-25 13:42] tylerl0706 opened #646 "Replace all instances of the Pipeline api with the PowerShell api"
As mentioned in https://github.com/PowerShell/PowerShellEditorServices/pull/641, the [Pipeline](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.runspaces.pipeline?view=powershellsdk-1.1.0) class is on the chopping block and was not included in PowerShell Standard.

We should replace all [Pipeline](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.run

[2018-03-25 14:56] tylerl0706 commented on #644
I came here to say exactly what @SeeminglyScience said. +1 for `EditorServicesCommands`

I want to also add that I'm totally on board with this and I think it's awesome that we can get started on this without making any changes to the extension using `Register-EditorCommand` and `Import-EditorCommand`.

That said, I am TOTALLY willing to do work in vscode-powershell or PSES to make this better and

[2018-03-25 16:34] SeeminglyScience commented on #644
My 2 cents: `Install/Find-EditorCommandModule` (name pending) should be included in PSES in the same module as `Register-EditorCommand` and the like.

Ultimately I think a separate UI for installing them would be awesome.  Something similar to the VSCode extensions bar including search.  That would be pretty easy to do using the web view API's (check out gitlen's [ui folder](https://github.com/eam

[2018-03-25 16:53] tylerl0706 commented on #644
Agreed.

I wonder if we could take advantage of views:
https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesviews
![A view](https://code.visualstudio.com/assets/docs/extensionAPI/extension-points/views.png)

You just supply them some json and it renders it for you. As long as we can show/hide it using the command pallet, that will save us from doing actual UI work 😄 It migh

[2018-03-25 16:59] rkeithhill commented on #644
Could but keep this in mind.  If we also add a view for the remote PSPR stuff then we start to choke off the explorer visible area.  I don't know about you but I've already got views for GitLens and Docker.  I really wish VSCode would move these extra views to their own tab.

BTW I experimented with these views several months ago here - https://github.com/rkeithhill/PowerShellDemoIt/blob/master/sr

[2018-03-25 17:03] tylerl0706 commented on #644
@rkeithhill yeah that's a big concern. I think the only way we'd go down the view route is if we can easily show/hide it completely.

[2018-03-25 17:21] rjmholt commented on #637
Yeah, the problem with getting completions on `Add-Type` and `Import-Module` is that they are dynamic executions, just like `Invoke-Expression`. You can use arbitrary PowerShell in their arguments, anything from variables to calling `Invoke-WebRequest`. That means that trying to work out what they load is tantamount to just running PowerShell in your script. But as a static analysis and completion

[2018-03-25 17:22] SeeminglyScience commented on #644
I think the explorer views would be a really neat way to show installed/loaded commands, but may be awkward for finding new ones.  I definitely share @rkeithhill's concern as well.  The only one I've ever actually used was gitlens, the others are just clutter.  <sup><sub>Why is there no <kbd>x</kbd> button :(</sub></sup>

[2018-03-25 17:33] rkeithhill commented on #637
In the meantime, if Sublime supports F8 style execution, try executing the Add-Type line(s). That works in VSCode.

[2018-03-25 17:37] tylerl0706 commented on #644
Well, we could always throw some UI together with Vue.js:

[code]

It has some nice list rendering:
https://vuejs.org/v2/guide/list.html

[2018-03-25 17:44] tylerl0706 commented on #637
Might need to do some work on a Sublime extension to get F8 to work. Here's what we do in VSCode:

We have F8 bound to this command:
https://github.com/PowerShell/vscode-powershell/blob/945b12623406d8c7204ea8d36151d89e171109ff/src/features/Console.ts#L205-L229

which sends the `"evaluate"` message to the language server.

[2018-03-25 18:31] rkeithhill commented on #644
If we did this then perhaps we could also show installed commands as well - not just editor commands.  Then we'd satisfy another request which is for the ISE's command windows.  Kill two birds with one tree view.  :-)

[2018-03-25 18:33] tylerl0706 commented on #644
@rkeithhill YES. I wonder if they're powerful enough to have forms inside similar to that of ISE.

[2018-03-25 18:37] rkeithhill commented on #644
I don't think so but perhaps we have  a "show details" toolbar button that opens up an html window - perhaps in a side-by-side mode??  And if we could put a dropdown combobox on the toolbar, that could be search.

[2018-03-25 22:44] #569 closed

[2018-03-28 15:55] gerane commented on #644
One of my ideas, was after something like this goes live, it would be interesting to start going around and adding Editor Commands to open source projects that have good candidates for them, and adding the tag to the manifest.

[2018-03-28 15:59] tylerl0706 commented on #644
That'd be really cool @gerane. It spreads awareness while also giving back to the community.

[2018-03-30 09:20] bergmeister commented on #572
@rkeithhill @tylerl0706 This has been reported in PSSA as well here: https://github.com/PowerShell/PSScriptAnalyzer/issues/902 and the results currently are:
- It only happens on slow-ish machines like e.g. a `Standard D2s v3 (2 vcpus, 8 GB memory)` VM in Azure (it did not repro on my physical dev machine)
- The exception happens when calling `Invoke()` on the `PowerShell` class created by `PowerS

[2018-03-30 09:30] bergmeister commented on #338
This would become much easier once PSSA can suppress on a per line basis. There is an issue for that but no timeline but you could grab the issue.

[2018-03-30 22:40] bergmeister commented on #308
PSSA already has the [PSUseCompatibleCmdlets](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/UseCompatibleCmdlets.md) rule for that and ships with files for PowerShell Core (alpha) on Windows/Linux/Max and for Windows PowerShell. I am currently updating the PSCore files to 6.0.2 but we could also add files for PS v3 and PS v4. you can simply generate those files

[2018-03-31 01:03] tylerl0706 commented on #308
Here you go, @bergmeister! 😄
[desktop-3.0-windows.json.zip](https://github.com/PowerShell/PowerShellEditorServices/files/1865070/desktop-3.0-windows.json.zip)

[2018-03-31 06:34] bergmeister commented on #308
@tylerl0706 Thanks, I added it to [this](https://github.com/PowerShell/PSScriptAnalyzer/pull/954) PR.

[2018-04-01 20:45] rkeithhill commented on #572
Copied over to PSSA - https://github.com/PowerShell/PSScriptAnalyzer/issues/959

[2018-04-01 20:45] #572 closed

[2018-04-04 16:13] tylerl0706 opened #648 "Get tests working in PowerShell Core & and Non-Windows"
Right now, we have a ton of stuff hardcoded for Windows PowerShell like:

https://github.com/PowerShell/PowerShellEditorServices/blob/1e3234c82b1cff8f8457deaed617a85dab901ddf/test/PowerShellEditorServices.Test.Host/ServerTestsBase.cs#L99

Our tests should support running on Windows PowerShell & PowerShell Core - and be able to run on any OS.

[2018-04-04 16:14] tylerl0706 commented on #648
Marking Up-For-Grabs since I think it's relatively trivial, just a bit time consuming.

[2018-04-10 16:50] Jaykul opened #651 "We need a way to customize output color for error/warning, etc"
Specifically, in PowerShell.exe we have the ability to change the color used for errors, warnings, etc.:

[code]

In VSCode I can change the colors of the 16 ANSI colors, but I can't find a way to change which of them you are using to write errors out.

[2018-04-10 20:28] tylerl0706 commented on #651
Thanks Joel! I reasonable request indeed.

[2018-04-11 11:40] SeeminglyScience commented on #651
If anyone is interested in picking this up the general idea is to

1. Port [ConsoleColorProxy](https://github.com/PowerShell/PowerShell/blob/25dbc68b8e50b9b6706cec2a7fe3bccfe7736e04/src/Microsoft.PowerShell.ConsoleHost/host/msh/ConsoleHost.cs#L737) and the [PrivateData member](https://github.com/PowerShell/PowerShell/blob/25dbc68b8e50b9b6706cec2a7fe3bccfe7736e04/src/Microsoft.PowerShell.ConsoleHos

[2018-04-16 23:03] tylerl0706 opened #653 "Use PowerShell built in event `PSISERemoteSessionOpenFile`"
This apparently has psedit and such built into it. We should look into switching to that since it's already baked into PowerShell.

Might make remote editing more consistent with the ISE - though I've never tried remote editing with the ISE personally.

[2018-04-17 22:00] KeroroLulu commented on #651
I would like to work on it !

[2018-04-18 07:39] tylerl0706 commented on #651
@KeroroLulu you can work on any issue at any time you'd like :)

We don't usually 'assign' work. You can freely start and submit a Pull Request when you're ready to get feedback!

[2018-04-18 10:43] KeroroLulu commented on #651
@tylerl0706  Thank you :)

I'm not used to stuff like that, so if I have any questions I'll ask you !

[2018-04-18 14:11] tylerl0706 commented on #651
You can always ask questions too!

Let me know if you have any 👍

[2018-04-18 17:54] KeroroLulu commented on #651
@tylerl0706 In the instructions

The link for EditorServicesPSHost.PrivateData redirect here, I should create this file and copy/past ConsoleColorProxy class and PrivateData member in it, or this file already exist ?

[2018-04-18 18:42] #636 closed

[2018-04-18 21:16] tylerl0706 commented on #651
No problem :) Port usually means "take that and add it to this" sometimes it does mean actually copy/paste. However I think it's a little bit more work than copy/paste.

First copy paste those classes over into `EditorServicesPSHost.PrivateData`, then try to build and see what you need to fix to get those classes to work in `PSES`(PowerShell Editor Services).

Then, follow @SeeminglyScience's next

[2018-04-18 21:19] KeroroLulu commented on #651
@tylerl0706 Ok ! But I have to copy ConsoleColorProxy class into the override or above like in ConsoleHost ?

[2018-04-18 22:14] tylerl0706 commented on #651
What was the error that you got?

[2018-04-18 22:31] KeroroLulu commented on #651
@tylerl0706 My powershell is in french but by translating we got :

`Session/Host/EditorServicesPSHost.cs(89,38): error CS0122: 'ConsoleHostUserInterface'
is unreachable because of its level of protection`

I think that's because ConsoleHostUserInterface is in Powershell and not in Powershell Editor Service

[2018-04-18 23:33] tylerl0706 commented on #651
Ah yeah you should replace that with `EditorServicesPSHostUserInterface` probably

[2018-04-19 00:04] KeroroLulu commented on #651
@tylerl0706 The problem is that `EditorServicesPSHostUserInterface` doesn't contain any color method so when I replace `ConsoleHostUserInterface` I have this error :

`Session/Host/EditorServicesPSHost.cs(99,45): error CS1061: 'EditorServicesPSHostUserInterface' doesn't contain any definition for 'ErrorForegroundColor' and there's no extension's method 'ErrorForegroundColor' accepting first argume

[2018-04-19 01:44] tylerl0706 commented on #651
You should be able to add these that I see in ConsoleHostUserInterface:
https://github.com/PowerShell/PowerShell/blob/c1c5344a8897262433141ecbc13bb06ac2c4bbef/src/Microsoft.PowerShell.ConsoleHost/host/msh/ConsoleHostUserInterface.cs#L1359-L1376

to `EditorServicesPSHostUserInterface`

[2018-04-19 01:46] tylerl0706 commented on #651
And then don't forget to edit these to use those values instead of the hardcoded ones 🙂
https://github.com/PowerShell/PowerShellEditorServices/blob/a0761cf8cce885ec70c9307fa600aa02f2f4b441/src/PowerShellEditorServices/Session/Host/EditorServicesPSHostUserInterface.cs#L526

Ask all the questions you need. You've got this 💪 you're going to fix this issue 😃

[2018-04-19 17:13] tylerl0706 commented on #651
That's great @KeroroLulu!

Here's what you can do to test:
Right now, the best way to do this is by building and launching the vscode powershell extension.

Follow these instructions to test your code out:
https://github.com/PowerShell/vscode-powershell/blob/master/docs/development.md

[2018-04-19 17:33] KeroroLulu commented on #651
@tylerl0706 Should I add Unit Test to my code ?

[2018-04-19 21:28] KeroroLulu commented on #651
@tylerl0706 Should I add Unit Test to my code ?

Edit

I'm on mac and I'm trying to launch the extension with F5, it propose me several process to attach my extension (zsh, adobe, cloud, etc...) which one should I use ?

Edit 2

I did it somehow by using code-insiders --extensionDevelopmentPath="/Users/My/vscode-powershell" but then I don't know how it works exactly I tried to change some backgrou

[2018-04-19 23:04] tylerl0706 commented on #651
@KeroroLulu does `$Host.PrivateData` give you anything?

[2018-04-19 23:08] KeroroLulu commented on #651
It gives me :
[code]
I just tested it by deleting the message but it's just my way to test it that doesn't work. How can I print warning or error by using PWSH Editor Services ?

[2018-04-19 23:17] tylerl0706 commented on #651
If you change `$Host.PrivateData.ErrorForegroundColor` in the integrated terminal to DarkCyan, and do a:

`Write-Error "foo"`

does it still print in red or dark cyan?

Note this will only work if you made the correct changes to the `Write*` function here:
https://github.com/PowerShell/PowerShellEditorServices/blob/a0761cf8cce885ec70c9307fa600aa02f2f4b441/src/PowerShellEditorServices/Session/Host/

[2018-04-20 07:09] tylerl0706 commented on #651
That's great @KeroroLulu!! 🎉 🎉

[2018-04-21 15:32] #651 closed

[2018-04-21 23:53] tylerl0706 opened #655 "PSES needs to shutdown itself when it's supposed to"
Ok everyone, I did some research and here's what I've found:

**Right now, the client kills the server process.**

The proof can be found here in the VSCode client: https://github.com/PowerShell/vscode-powershell/blob/master/src/process.ts#L145-L161

That said, **this is not a good thing**.

You might be wondering... The [LSP has both a `shutdown` and an `exit`message](https://microsoft.github.io/

[2018-04-23 09:33] nanoant commented on #655
Also I would recommend to PSES to shutdown itself when all communication channels are closed, e.g. when stdin pipe is closed and there is no way to talk with PSES anymore.
Still sending `exit` would be nice graceful way for clients to issue the termination request.

[2018-04-23 15:46] TylerLeonhardt opened #656 "Refactor Start-EditorServices.ps1 based on feedback"
There is some feedback given in this PR of some parameter clean up:
https://github.com/PowerShell/PowerShellEditorServices/pull/629

It wasn't blocking for the PR so this is the issue to remember to do that refactoring.

[2018-04-23 20:48] rjmholt opened #657 "Refactor Analysis code"
The PSES [analysis code](https://github.com/PowerShell/PowerShellEditorServices/tree/master/src/PowerShellEditorServices/Analysis) has grown a bit and recent forays into it indicate it might be due for a clean up. The script analysis part of PSES is one of its main jobs and where a lot of performance issues seem to lie. We should refactor the code here as much as possible to simplify how analysis

[2018-04-23 21:12] rjmholt commented on #655
Given that a single PSES instance will only ever talk to one client, but that that client can communicate with PSES over multiple channels (which I assume are all connection-oriented, guaranteed-delivery channels, so that we get sent an interrupt or a message when they are closed/broken), would the following behaviour make sense:

* PSES keeps a list of all open channels, when they all close it sh

[2018-04-24 01:52] yatli commented on #655
@rjmholt would you please elaborate on the `open` part? consider the whole lifecycle as follows:

[code]

Do we still consider it `open`?

[2018-04-24 02:30] rjmholt commented on #655
@yatli I don't quite follow your example.

When you say the client ignores a channel, do you mean it doesn't try to connect to it at all? Or do you mean the service tries to connect to the client and the client ignores the request?

I've done some [reading](https://stackoverflow.com/questions/37486099/determine-broken-connection-in-tcp-server) on our channels, and realise I had a misconception of